[2019-03-23 20:35] voku opened #1 "Call to undefined method: "isFullyQualified()""
php7.2 /usr/bin/composer global require icanhazstring/composer-unused

[code]

php7.2 /usr/bin/composer unused

[code]

[2019-03-23 21:52] icanhazstring commented on #1
Hi @voku thanks for using the lib. Can you give me more information about the project you used it with? If it's public maybe I can try it out.

And maybe I should implement some kind of exception handling where or which file the exception occurred during scanning.

[2019-03-23 21:59] icanhazstring opened #2 "Debug: Add Exception handling for debug purpose"
Currently if the parser or anything else crashes during the process of scanning the complete plugin crashes.

There should be a type of exception handling that gives more information of the problem at hand. Some sort of crash report.

- File that was scanned
- Used Strategy
- php version
- Used Packages

php-parser has own `ErrorHandler`. Use `Collecting` to collect all error during code parsing.

[2019-03-23 22:37] voku commented on #1
Noop, sorry! It's a legacy customer project but when I use ```strace php7.2 /usr/bin/composer unused``` I can see that the next file is the source of the problem "https://gist.github.com/voku/6ca2740380d87f22b82fc2a4c09b5503" ... it wasn't used in the codebase anyway, so I deleted it :P

[2019-03-23 22:37] #1 closed

[2019-03-24 05:36] icanhazstring commented on #1
So it kinda worked 😅.
Anyway this tool needs a better debug mode 😉

[2019-03-24 20:10] kkrieger85 opened #3 ""NonComposerComponentRegistration.php" directory does not exist"
I tried to use this tool with fresh Magento2 Installation and got this result:

[code]

Do you need more data like composer.lock?

[2019-03-24 21:36] icanhazstring commented on #3
Hi. Thanks for reaching out.

Would be nice to see  `composer.json` and `composer.lock`.

I'll try to see where the problem is exactly.

[2019-03-25 06:16] kkrieger85 commented on #3
[composer.json.txt](https://github.com/icanhazstring/composer-unused/files/3001792/composer.json.txt)
[composer.lock.txt](https://github.com/icanhazstring/composer-unused/files/3001793/composer.lock.txt)

[2019-03-25 06:31] Nyholm commented on #3
I get the same error with AppKernel.php

I guess there is a minor thing with the classmap.
[code]

[2019-03-25 06:34] Nyholm commented on #3
We should check the `$autoloadType` here:
https://github.com/icanhazstring/composer-unused/blob/master/src/Command/UnusedCommand.php#L171-L187

[2019-03-25 06:37] icanhazstring commented on #3
@nyholm good point. I think I need to merge definition for directories `psr-0` and `psr-0` with files from `classmap`. Thanks for figuring out!

[2019-03-25 08:06] Pierstoval commented on #3
I've got the same problem too for the Kernel file 😄

[2019-03-25 09:30] icanhazstring commented on #3
I just tagged a new release `0.1.1`.
Please give it a try if this solves your problems.

[2019-03-25 09:32] kkrieger85 commented on #3
@icanhazstring

**Works for me** + Magento 2.3. now

[code]

[2019-03-25 09:35] kkrieger85 commented on #3
BTW: In case of Magento 2.3.

The only "unused package" is the meta package itself:

[code]

[2019-03-25 09:49] ostrolucky opened #8 "{file}.php directory does not exist"
This is similar issue as https://github.com/icanhazstring/composer-unused/issues/3 but this time for
[code]

configuration

[2019-03-25 09:53] icanhazstring commented on #8
Hi @ostrolucky does this also occur with version `0.1.1`?

[2019-03-25 10:06] ostrolucky opened #9 "Call to undefined method PhpParser\Node\Expr\PropertyFetch::isFullyQualified()"
This happens with anonymous classes

[code]

[2019-03-25 10:08] ostrolucky commented on #8
It does not. Huh, I assumed composer installed newest version. I guess there was some cache dela.

[2019-03-25 10:08] #8 closed

[2019-03-25 10:28] icanhazstring commented on #9
Thanks for reporting!
Will get this cover asap.

[2019-03-25 10:30] ostrolucky opened #10 "swiftmailer/swiftmailer false positive?"
Can somebody confirm this? We use Swift_Mailer typehint in __construct and despite that it's marked as unused.

[2019-03-25 10:42] icanhazstring commented on #3
I would then close this issue as solved.
If anything else happens, feel free to open a new one.

[2019-03-25 10:42] #3 closed

[2019-03-25 10:47] finagin commented on #9
https://github.com/icanhazstring/composer-unused/blob/5456ce395a4ffe59168ec7160422c734aead61af/src/Parser/Strategy/StaticParseStrategy.php#L22-L23

`$expression->class` may be `\PhpParser\Node\Name` or `\PhpParser\Node\Expr`
Only `\PhpParser\Node\Name` has `isFullyQualified` method

[2019-03-25 10:50] icanhazstring commented on #10
Can you provide your `composer.json` and a code snippet where this is used?
Then I can see what is going wrong.

[2019-03-25 10:52] ostrolucky commented on #10
I don't really want to get too deep debugging this before I get confirmation from other people

[2019-03-25 10:53] icanhazstring commented on #9
I already changed the processing and testing of strategies.
I will upload an update soon :)

[2019-03-25 11:12] icanhazstring commented on #9
@ostrolucky can you please install current `dev-master` and give it a try.

Since I reworked the parsing for the strategies I will publish a `0.2.0` after I added the debugging mode as well.

[2019-03-25 11:42] AshleyPinner opened #11 "Allow scanning of files that are not in namespaces but consume namespaces"
Currently the code seems to only scan psr0/4, classmap and files directives. However, we have a large Cake2 project where the bulk of our files are not namespaced. They still use composer dependencies.

An example high level directory structure is like (in our case):
[code]

While `/src` contains a section of our code which is namespaced, our MVC files are in either the Controller/Model/View direc

[2019-03-25 11:58] robtesch opened #12 "False positives"
Hi there,

Awesome idea for a package, however I am getting some false positives. In my case I am have a Laravel project, and the following packages came up as definite false positives:

`* aws/aws-sdk-php ✗
 * davejamesmiller/laravel-breadcrumbs ✗
 * doctrine/dbal ✗
 * jeremykenedy/laravel-phpinfo ✗
 * laravel/scout ✗
 * laravelcollective/html ✗`

There is one more package which I'm not 100% sure

[2019-03-25 12:03] ostrolucky commented on #9
dev-master works 👍

[2019-03-25 12:10] icanhazstring commented on #12
Hi @robtesch thanks for reaching out.

This mostly happens, as you mentioned, if you require a package, which is mainly used by another required package. So for example:

If you require `doctrine/orm` AND `doctrine/dbal` without using any `doctrine/dbal` code directly in your code. This package will be marked as unused.

So normally you can safeley remove this `require` from your `composer.json`.

[2019-03-25 12:15] icanhazstring commented on #11
Hi @AshleyPinner thanks for reporting.

This is indeed something I will add in the future.

Some questions tho:
1. As you listed `vendor/` as well, does this also contain non composer packages?
2. Can't you provide these folders inside your `classmap` directive in your `composer.json`

[2019-03-25 12:15] icanhazstring commented on #9
Thanks. Tag should come up soon :)

[2019-03-25 12:30] AshleyPinner commented on #11
1. Yes, but they are put into the classmap, so from the point of "is this namespace in use" it should be the same detection method
2. I'm unable to put our MCV code into the classmap, and wouldn't want to for many reasons (such as duplicate file names and the fact that the MCV code totally lacks any namespace declarations, and adding them breaks many things)

Granted, this is a slightly more obscu

[2019-03-25 12:39] icanhazstring commented on #11
Ok I will see if I can come up with some sort of additional paths to scan :)

[2019-03-25 13:36] xuanquynh commented on #10
@icanhazstring
I believe that the reason is `swiftmailer/swiftmailer` package uses production autoload files by itself. See [swiftmailer composer.json](https://github.com/swiftmailer/swiftmailer/blob/master/composer.json) for more details.

When requiring `swiftmailer/swiftmailer` package as a dependency, composer ignores "autoload-dev" from that package and we only get this section:

[code]

Ther

[2019-03-25 13:43] Wharenn commented on #12
I hit similar false positive results with a Symfony project and it was a bit frightening 😄

That cross check would be great! It would give user trust to remove direct requirements of these packages.

This package is a great idea!

[2019-03-25 13:49] icanhazstring commented on #10
Uh wow. Thats a hard one.
Maybe I can scan the dev autoload as well, as there is the `Swift_` namespace provided.
But I can't analyse the namespace from `files` or `classmap` directives.

[2019-03-25 13:53] xuanquynh commented on #10
Swiftmailer is too old and doesn't follow psr-0 or psr-4 for production.
There may be some packages similar to it.
I can't also think of a solution right now. :cry:

[2019-03-25 14:00] TomKriek commented on #11
For a Lumen project we have a file in the bootstrap directory `app.php`.

The first few lines look like this.

[code]

But the vlucas/phpdotenv package is being marked as unused. Having extra config to include/exclude paths would be amazing.

[2019-03-25 14:04] xuanquynh commented on #11
Could you mark this issue as "enhancement"?

[2019-03-25 14:20] icanhazstring commented on #11
We could add an additional cli parameter which uses an array of folders to be scanned as well.
Something like this:

[code]

[2019-03-25 14:31] #2 closed

[2019-03-25 14:34] Pierstoval commented on #3
Works for me too 😉 Perfectible, but the basics work!

[2019-03-25 15:00] nicholasruunu commented on #11
@icanhazstring I believe that an `--exclude` parameter combined with glob for `**/*.php` instead would be a better option. Although, perhaps too slow?

[2019-03-25 15:05] icanhazstring commented on #9
`0.2.0` tagged. So the fix is live :)
Thanks every1 ❤️

[2019-03-25 15:05] #9 closed

[2019-03-25 15:17] icanhazstring commented on #11
Yep. I already hit a peak with a company project about 81K files. Which crashed my VM 😄
But on the other hand - yours is a good choice too.

Maybe something like `--force-complete` which does a complete scan of every folder beside your `composer.json` so then we can use an `--exclude` to ignore smt like `vendor/` and stuff.

[2019-03-25 15:18] icanhazstring commented on #12
Feature idea: Cross reference used packages to inform user about required packages which are already installed via other 3rd party requirement. So these packages can be safely removed.

[2019-03-25 15:20] AshleyPinner commented on #11
That works. As long as you can avoid the circular reference of scanning vendor 😄 (maybe vendor should be auto-excluded?)

[2019-03-25 15:22] icanhazstring commented on #11
Yep good point :D

[2019-03-25 15:24] icanhazstring commented on #11
Feature idea:
Add two new cli arguments:
- `--force-complete` which scan all directories beside `composer.json` (using glob `**/*.php`)
- `--exclude=` array of arguments to exclude from scanning
- auto exclude `vendor/`

[2019-03-25 15:27] AshleyPinner commented on #11
Sort of obvious but please ensure you read the config.vendor-dir key, as vendor directories are not always /vendor

(Our project just lives to be an exception to many rules)

[2019-03-25 15:59] nicholasruunu commented on #11
If not extremely slow I'd think that `--force-complete` should just be the default and overwritten with `--directories` or something.

I think it will be extremely common to just run this as default and remove deps which might not be obviously used in the project. For example script files that are run by cron. I think the less dangerous path to follow is to check all your php-files.

[2019-03-25 16:10] icanhazstring commented on #11
Good point. 👍

[2019-03-25 17:16] hgraca commented on #12
I got quite a lot of false positives, for example `willdurand/js-translation-bundle`, which in my symfony project is only referenced in my `rounting.yml` and `bundles.yml`.

I guess my other false positives are also only referenced in configuration files.

[2019-03-25 17:21] icanhazstring commented on #12
@hgraca hm that's quite a catch. And since symfony is used a lot. Maybe I should cover yml files as well.

[2019-03-25 18:00] rcampbel3 opened #14 "Fix spelling of 'used' in README.md and src/Command/UnusedCommand.php"
**Describe the bug**
Thanks for a really neat tool! As I was generating reports, I noticed that
used is spelled 'usued' in README.md and UnusedCommand.php

[code]

[2019-03-25 18:37] icanhazstring commented on #14
Hi @rcampbel3 nice catch. If you want just file a PR. I am happy to merge it 😊

[2019-03-25 18:49] hkdobrev commented on #12
Symfony components has several cases where they would have a package relying on optional packages. The component would require these packages explicitly, but would use them if present or if you pass some arguments in a method. So you need to require these 3rd-party packages in your application as well if you want to use a component in a specific way. However, application code would not use them an

[2019-03-25 18:56] icanhazstring commented on #12
So as is see it. These are packages listed in the composer `suggest` section. Which should also fall under the cross referencing. But in this case the usage should be states as **used** instead of **unused**

[2019-03-25 19:00] hgraca commented on #12
@icanhazstring
There are actually 3 files, including a node package that I guess is installed cozz of the PHP package.

`config/bundles.php`
[code]

`config/routing.yaml`
[code]

`web/node_modules/bazinga-translator/package.json`
[code]

[2019-03-25 19:09] machour opened #15 "Doesn't work with yii2 projects"
**Describe the bug**
`composer unused` doesn't work for Yii2 projects, the following error messages are displayed:

[code]

**Error dump**
Use `$ composer unused -vvv` to create an error dump and add it to the issue.

[code]

**Additional information**

Reproduce steps:

[code]

This has probably every thing to do with the way Yii2 handles autoloading (check basic/web/index.php):
[code]

[2019-03-25 19:20] machour commented on #14
Opened #16 to fix the typo before I saw your issue @rcampbel3, hope you won't mind 😅

[2019-03-25 19:23] icanhazstring commented on #12
@hgraca OK. So your problem is basically, that the `config/bundles.php` is not scanned.

I am working on a fix, that all php files are scanned. Instead of only those defined in your psr directive of your composer.json

[2019-03-25 19:29] icanhazstring commented on #15
Hi @machour thanks for reporting. I will see what I can do. 🙂

[2019-03-25 19:31] icanhazstring commented on #14
Fix with #16. Thank you both tho 😉

[2019-03-25 19:31] #14 closed

[2019-03-25 20:07] hgraca commented on #12
cool! Yeah, I think that will solve plenty of cases.

[2019-03-25 21:05] simPod commented on #12
Found these as false positives:

- bentools/iterable-functions
- dragonmantank/cron-expression (fork https://github.com/simpod/cron-expression)
- nette/http
- nette/utils
- sebastian/diff
- zendframework/zend-diactoros

Also cases like symfony/validator as `framework.validation: { enable_annotations: true }` is set in yaml. (However I found out I wanted to remove it :P )

Then everything used just

[2019-03-25 22:32] icanhazstring commented on #11
I just reworked the usage scan to use all `*.php` files in the project without `vendor/`
If you install `dev-master` you can give it a try.

I will add another cli argument for excluding folders from the console.

[2019-03-25 22:32] icanhazstring commented on #12
I just reworked the usage scan to use all `*.php` files in the project without `vendor/`
If you install `dev-master` you can give it a try.

[2019-03-26 07:07] icanhazstring opened #20 "Feature: Additional cli parameter --exclude"
**Is your feature request related to a problem? Please describe.**
Related to #12 and #11. This should solve problem with false positives where configs and other directories are not parsed using `composer.json` directives only. This was already reworked so should work. The problem with that is, that now there could be some files that should **not** be parsed. The new parameter should be able to ex

[2019-03-26 07:10] icanhazstring commented on #15
@machour can you check this with latest `dev-master` again?
I changed the way how the plugin parses your sources.

[2019-03-26 07:39] icanhazstring commented on #20
Changed this to exclude dirs and packages:
[code]

[2019-03-26 07:59] icanhazstring commented on #10
Just release version `0.3.0` to address this kind of issue.
If the problem persists let me know.

Closing it for now :)

[2019-03-26 07:59] #10 closed

[2019-03-26 08:00] icanhazstring commented on #11
Just released version `0.3.0` to address this kind of issue.
If the problem persists please let me know.

Closing it for now :)

[2019-03-26 08:00] #11 closed

[2019-03-26 08:00] icanhazstring commented on #12
Just released version `0.3.0` to address this kind of issue.
If the problem persists please let me know.

Closing it for now :)

[2019-03-26 08:00] #12 closed

[2019-03-26 08:00] icanhazstring commented on #20
Implemented with `0.3.0`

[2019-03-26 08:00] #20 closed

[2019-03-26 08:03] simPod commented on #12
@icanhazstring still shows [those packages](https://github.com/icanhazstring/composer-unused/issues/12#issuecomment-476377109) as unused even tho they're used 🤔

[2019-03-26 08:07] icanhazstring commented on #12
@simPod try running `composer unused -vvv`
This should generate a dump file which you can upload.

So we can see what files are scanned and why these packages still come up.

[2019-03-26 08:10] icanhazstring opened #22 "Feature: Cross reference packages"
**Is your feature request related to a problem? Please describe.**
If you required a package that is already installed by another package, you might be able to remove this package from your requirements. To help the user understand, that this package is require by another, a cross reference check should be added.

**Describe the solution you'd like**
A notice about if an unused package is cross re

[2019-03-26 08:11] icanhazstring commented on #12
This might have to do with #22
Which I will address in the next release.

[2019-03-26 08:14] icanhazstring opened #23 "Feature: Consider composer suggest packages to ignore"
**Is your feature request related to a problem? Please describe.**
Sometime a required package provide a `suggest`ed package to install. You won't use this package inside your main application, but the 3rd party package does. This will come up as a false-positive.

**Describe the solution you'd like**
We should take the `suggest` block of required packages into account and ignore packages that are

[2019-03-26 08:30] robtesch commented on #12
Right, I've updated to the latest version, it's improved things but not 100%, still getting a few packages that are showing up as unused when they actually are used. Again, in this case I think it's because of the way Laravel "auto-discovers" certain packages.

I've decided to focus on one specific package (jeremykenedy/laravel-phpinfo) as a way of seeing what the issue could be.

For that package

[2019-03-26 08:33] icanhazstring commented on #12
Tha js for the clarification @robtesch this seems like a bumper. An idea could be to have framework specific scans. But that lies in the future.

For know the `--excludePackage` parameter could be helpful here. Since you know it's used 😉

[2019-03-26 08:56] machour commented on #15
It now works, thank you 👍

Just a false-positive on [`foxy/foxy`](https://github.com/fxpio/foxy) which is considered unused although it's handling my assets for me.

[2019-03-26 08:58] robtesch commented on #12
@icanhazstring thanks, will do that. Any chance we could add something to our composer.json that would show composer-unused that we want to exclude these packages? I am thinking of the case of working in a team, and somebody else runs composer-unused, sees a bunch of packages "unused" and then decided to chop them, without realising that they are, in fact, used.

[2019-03-26 09:02] icanhazstring commented on #12
Maybe behind the `extras` directive could be possible. Sure. File a feature request :)

[2019-03-26 10:14] icanhazstring commented on #15
@machour can you give me a short example how `foxy/foxy` is integrated in your code?

[2019-03-26 10:31] AshleyPinner opened #24 "Detection of in-use packages that define no namespaces"
**Describe the bug**
Consider the simple case:
[code]

Random compat just defines the random_int/random_bytes functions in the global namespace for PHP5.x projects, so they can use the awesome random functions that 7.0 bought.

Since it has no namespaces, it's possibly impossible to detect if it's in use or not, yet `composer unused` will say:

[code]

I suggest that if a package has no namespaces

[2019-03-26 10:35] icanhazstring commented on #24
Hi @AshleyPinner thanks!

That is a pretty nice idea. This could improve the way the user gets information about a package and if its an error of the `unused` plugin or a general lack of information inside a required package.

[2019-03-26 10:56] machour commented on #15
I'm not using it in my code at all. `foxy/foxy` is a plugin that automatically install npm packages for me when composer is done installing stuff, like assets-packagist, but without any PHP involved.

I think this kind of packages should be kept in a whitelist.

[2019-03-26 11:06] icanhazstring opened #25 "Feature: Ignore packages that are no library"
**Is your feature request related to a problem? Please describe.**
As there are different types of package "types" of composer packages. We need to only scan those that are a library or a project. Everything else might not have a provided namespace.

As seen in #15 (foxy/foxy)

**Describe the solution you'd like**
Only scan packages that are proper source packages (project, library).
Everything el

[2019-03-26 11:08] icanhazstring commented on #15
@machour thanks for the clarification. I created #25 to address these kinds of packages.
The root problem here was solved, so we could close this one?

[2019-03-26 11:11] icanhazstring opened #26 "Feature: Add ability to ignore packages by definition"
**Is your feature request related to a problem? Please describe.**
Some packages don't have a valid "type" given. Also they are hot linked in RunTime. This makes is nearly impossible to get information about usages. Until then, we should provide the ability to ignore certain packages defined in your own `composer.json`

**Describe the solution you'd like**
We provide an entry in the `extra` direct

[2019-03-26 11:11] AshleyPinner commented on #24
As an aside, this bug is as a result of the fixes in #11 - I was finally able to run the unused on my codebase, so thank you for fixing it 😃

[2019-03-26 11:13] icanhazstring commented on #12
I already created a new feature request #26 to ignore packages by definition. This should solve your problem @robtesch.

[2019-03-26 11:16] machour commented on #15
Yes sir!

[2019-03-26 11:16] #15 closed

[2019-03-26 11:23] robtesch commented on #12
@icanhazstring fantastic, thank you!

[2019-03-26 12:57] naroga opened #27 "[ErrorException] strpos(): Empty needle"
**Describe the bug**
Running `composer unused` on a big project throws an ErrorException.

**Error dump**
[code]

**Additional information**
No apparent memory issues, running on OSX:

[code]

[2019-03-26 13:04] icanhazstring commented on #27
Hi @naroga thanks for raising an issue.

Two points here:
1. you might have discovered an issue where my error handling doesn't work properly ;)
2. can you send me your `composer.json` if think there might be a psr-0/psr-4 namespace which is an empty string.

Or a required package of yours provides an empty namespace.

[2019-03-26 13:08] naroga commented on #27
Hi, @icanhazstring! Sure thing, I'm not sure if I can publicize the contents of our `composer.json` (we have a very strict NDA and even though the contents of `composer.json` alone won't show any business-related information, I don't want to risk legal repercussions).

Is there any way to send you the contents privately?

[2019-03-26 13:13] naroga commented on #27
I'm running some debuggers here, give me a couple of minutes.

[2019-03-26 13:18] icanhazstring commented on #27
No problem there.
As you are looking into the code right now. Try to find a required package, that has no namespace provided in psr-0 oder psr-4 autoload or autoload-dev. Something like this in the `composer.json`

[code]

[2019-03-26 13:22] naroga commented on #27
Yes, you're right. The packages throwing the exceptions were all private packages, and they're all using empty namespaces.

[code]

[2019-03-26 13:24] naroga commented on #27
Adding a verification for empty strings inside the `foreach` on `PackageSubject` fixed it, but I'm not sure if that's the best thing to do.

[2019-03-26 13:51] icanhazstring commented on #27
I will probably ignore those packages then and display a message that these packages were ignore and the reason. Related to #24

[2019-03-26 14:29] topikito commented on #27
Hi guys - Same issue here.

[2019-03-26 15:31] icanhazstring commented on #27
Beside from the obvious problem about the packages with empty namespaces.
The exception handling is a bit wonky. This should be fixed as well.

[2019-03-26 19:01] icanhazstring commented on #27
@naroga

I just tagged a new release `0.3.1`. With this you should be able to run `composer unused -vvv` until the end. You will then hopefully receive a debug dump. Can you confirm this for me?

Next up: Addressing the bigger issue with collecting "failed" packages and display a message to the user.

[2019-03-26 19:18] hgraca commented on #12
The good news is that the package is not showing anymore as a false positive.

The bad news is that others still are:
[code]
The list gave more, but I need time to check if they are actually used or not.

[2019-03-26 19:23] icanhazstring commented on #12
@hgraca thanks for more information.
The `*.yaml` file is noted. This is something I could add in the future.

Can you show me content of your `config/bundles.php` where the two packages are used?
Also can you file these informations in a new issue (false positives #2) so i can address them there.
Thank you 😉

[2019-03-26 19:38] hgraca opened #29 "False positives #2"
**Describe the bug**
Some packages show as not used, but they are in fact used.

[code]

**Additional information**
`config/bundles.php`
[code]

[2019-03-26 19:38] hgraca commented on #12
:+1:
done.

[2019-03-27 10:06] topikito commented on #27
Just writing to confirm with `-vvvv` it works for me now.

[2019-03-28 10:23] icanhazstring commented on #24
Good knews @AshleyPinner. I have pushed some changed into `master` which will show you if a package does not provide any namespace. They are listed as ignored.

If you wan't you can try it out already by using `dev-master` version.
Or just wait for `0.4.0` 😉

[2019-03-28 21:19] #29 closed

[2019-03-28 21:50] icanhazstring commented on #12
Thank you @hkdobrev for pointing this out. Solved with #23

[2019-03-28 21:50] icanhazstring commented on #23
![image](https://user-images.githubusercontent.com/883543/55195121-eaad6380-51ab-11e9-9c39-432f2ca34aa0.png)

[2019-03-28 22:12] icanhazstring commented on #22
Tested with `zendframework/zend-servicemanager` and `zendframework/zend-stdlib`

![image](https://user-images.githubusercontent.com/883543/55196189-eafb2e00-51ae-11e9-95f8-f27d2c339120.png)

[2019-03-28 22:39] icanhazstring commented on #22
Solves with `0.4.0`

[2019-03-28 22:39] #22 closed

[2019-03-28 22:39] icanhazstring commented on #23
Solves with `0.4.0`

[2019-03-28 22:39] #23 closed

[2019-03-28 22:40] icanhazstring commented on #25
Solved with `0.4.0`

[2019-03-28 22:40] #25 closed

[2019-03-28 22:40] icanhazstring commented on #26
Solved with `0.4.0`

[2019-03-28 22:40] #26 closed

[2019-03-28 22:41] icanhazstring commented on #24
Hi @AshleyPinner. Just tagged a new release `0.4.0`. Can you please confirm if this solves your problem 😉

[2019-03-28 22:42] icanhazstring commented on #27
Solved with `0.4.0`. If the problem persist, please file a new issue.

[2019-03-28 22:42] #27 closed

[2019-03-29 08:27] hgraca opened #30 "Exit code reflects unused packages exist"
**Is your feature request related to a problem? Please describe.**
I want to put this tool in my CI pipeline, and for it to fail this step when there are unused packages.

**Describe the solution you'd like**
The solution is to make the `composer unused` exit with a code > 0 when there are unused packages detected.

[2019-03-29 08:41] icanhazstring commented on #30
Hi @hgraca I think having this per default seems a bit strict. Are you fine, if we add a cli parameter `--strict` which will return an exit code > 0 if there are unused packages.

[2019-03-29 09:38] AshleyPinner commented on #24
[code]

Perfect.

[2019-03-29 09:38] #24 closed

[2019-03-29 09:55] icanhazstring commented on #24
Thanks! 😄

[2019-03-29 11:12] bcremer commented on #30
A `--strict` CLI parameter is ambiguous.
I would opt for `--with-exit-code`  if you like to have it opt-in or `--ignore-exit-code` if you decide to use it by default.

[2019-03-29 11:25] icanhazstring commented on #30
Know that I think of it... you probably right @bcremer. The whole point of this tool is to provide a validation if you have unused packages. If you have, the tool should "fail" with an exit code.

Then I will probably take the later to ignore exit code if you want to.

[2019-03-29 14:58] AshleyPinner opened #31 "ext- packages need to be ignored outright for scanning"
**Describe the bug**
Consider this example case:

[code]

Output:

[code]

**Additional information**
Generally these directives should just be ignored for the context of scanning. (unless you want to scan for their actual function usages? I suspect not!) - as in they shouldn't even turn up in the `Ignored packages` section as they're `ext-` requirements.

[2019-03-29 15:38] icanhazstring commented on #31
Hi @AshleyPinner thanks for the request.
I think in the first iteration ignoring them silently would be a nice addition.

In the long run, I want to try to also add static analysis if you are even using this extension inside your code. Like there is already a plugin for PHPStorm which checks that - but would be nice to have it here 😉

[2019-03-29 15:43] icanhazstring commented on #30
Since it is only merged into master, I just leave this open for now.
If you want, you can require `dev-master` to try it out if works for you.

[2019-03-29 15:50] icanhazstring opened #33 "Feature: Analyse code for `ext-` packages"
**Is your feature request related to a problem? Please describe.**
Currently `ext-` packages from your `composer.json` will be ignored silently. This means, they won't show up in the result as `ignored`. In the future this could be improved to even scan your code for usages from these extensions.

**Describe the solution you'd like**
Maybe we can find a source how to map php extensions to there pr

[2019-03-29 15:55] icanhazstring commented on #33
Reference to #31

[2019-03-29 16:02] #30 closed

[2019-03-29 16:02] hkdobrev commented on #33
FYI https://github.com/maglnet/ComposerRequireChecker (which kind of helps with the opposite of composer-unused) supports scanning for functions defined in extensions. Probably, some things ideas could be borrowed from there.

[2019-03-29 16:03] icanhazstring commented on #31
Solved in version `0.5.0`.
I created an feature proposal for scanning extensions. Give it a thumbs up if this should be implemented :)

[2019-03-29 16:03] #31 closed

[2019-03-29 16:07] icanhazstring commented on #33
Thanks @hkdobrev found the location.
Just leaving it here ;)

https://github.com/maglnet/ComposerRequireChecker/blob/master/src/ComposerRequireChecker/DefinedSymbolsLocator/LocateDefinedSymbolsFromExtensions.php

[2019-03-30 02:55] Finesse opened #34 "Feature: Add a manual to install the package locally"
**Is your feature request related to a problem? Please describe.**

Saying local I mean installed through the project `package.json` file. Many people prefer local installation to global in order to:

- Not clog the system
- Have an ability to have different package versions for different projects
- Make their projects be installed using a single `composer install` command

**Describe the solution

[2019-03-30 12:18] icanhazstring commented on #34
Hi @Finesse thanks for reaching out. Should not be a big problem. I will see to it 🙂

[2019-04-01 08:52] #34 closed

[2019-04-01 08:53] icanhazstring commented on #34
@Finesse since I don't need to change any code behavior. I simple updated the current `README.md` in `master`. The instruction is listed under  `Installation`.

Since composer will look for plugins in the global **and** local requirement, the command `composer-unused` stays the same.

[2019-04-01 08:56] Finesse commented on #34
Cool, thank you 👍

[2019-04-01 09:03] icanhazstring opened #35 "Maintenance: Replace debug logging with psr/log"
**Is your feature request related to a problem? Please describe.**
Currently there is a "self-build" debug logger to catch identify problems when running in debug mode. This should be replaced with a simple `psr/log` implementation (maybe `monolog`)

**Describe the solution you'd like**
Currently the log has a structure inside, which makes it hard to see what happend first. This should be replaced

[2019-04-01 16:33] #35 closed

[2019-04-02 22:01] icanhazstring opened #37 "Feature: Interactive remove of unused packages"
After listing the unused packages, there should be an interactive mode to remove unused packages.

**Describe the solution you'd like**
After finding unused packages the user should get asked what to do with unused packages:
- remove
- skip
- ignore (should be added to `composer.json` `extra` for ignore)

**Additional information**
This kind of behavior should be optional and might be enabled with

[2019-04-10 11:20] binarious opened #38 "Support type "symfony-bundle""
**Is your feature request related to a problem? Please describe.**
In https://github.com/icanhazstring/composer-unused/issues/25 you ignored packages that are not of type `library`. This excludes Symfony bundles as well, most of them use the type `symfony-bundle` ([1](https://github.com/symfony/monolog-bundle/blob/005aefb1c4df246b07791188a65a0485fd6f4c5c/composer.json#L3), [2](https://github.com/s

[2019-04-10 12:22] icanhazstring commented on #38
Hi @binarious. I only accepted the type `library` as the only bid type because it is the only one providing some kind of source with a namespace.

Then along comes symfony with a per spec invalid type. Well guess I will support it then as well 😉

Will see to it asap.

[2019-04-11 11:34] icanhazstring commented on #38
@binarious fixed with `0.5.2`

Before:
![image](https://user-images.githubusercontent.com/883543/55954227-76b89400-5c5e-11e9-8396-423fa98dc906.png)

After:
![image](https://user-images.githubusercontent.com/883543/55954255-82a45600-5c5e-11e9-9b46-d5952f834052.png)

[2019-04-11 11:42] binarious commented on #38
@icanhazstring ridiculously fast, thank you :+1:
I do get some false-positives though:
https://github.com/KnpLabs/KnpSnappyBundle
https://github.com/Elao/ErrorNotifierBundle

[2019-04-11 11:45] icanhazstring commented on #38
Thanks. Will check those out.

[2019-04-11 11:50] binarious commented on #38
Sure:
[code]

[2019-04-11 11:51] icanhazstring commented on #38
Update:
Checked both out, working good so far.

What I used:
[code]

The are both required inside the `config/bundles.php`.

---

Let me check if there is a problem with your code if I use this.

[2019-04-11 11:55] icanhazstring commented on #38
Ok Nevermind. Found the issue with `NewParseStrategy` this only works with FQNS.
Can you confirm this if you add a leading `\` in front of a package? (even if its not necessary)

`new \Knp\Bundle\SnappyBundle\KnpSnappyBundle()`

[2019-04-11 11:57] binarious commented on #38
Yep, can confirm that.

[2019-04-11 12:00] icanhazstring commented on #38
Alright. Will do another bugfix release then.
Thanks 👍

[2019-04-11 12:01] binarious commented on #38
Great! Dankeschön 🙏

[2019-04-11 13:21] icanhazstring commented on #38
And `0.5.3` tagged. Should work now 👍

[2019-04-11 13:23] binarious commented on #38
Confirmed. Thanks again for your time and effort!

[2019-04-11 13:23] #38 closed

[2019-04-11 13:25] icanhazstring commented on #38
yw 😄

[2019-04-11 13:52] binarious opened #41 "Dump file is always created"
**Describe the bug**
Just running `composer unused` creates a `composer-unused-dump-*` file everytime.

**Additional information**
- composer unused: 0.5.3
- composer: 1.8.5
- php  7.3.4

[2019-04-11 14:22] icanhazstring commented on #41
Should I tag another bugfix release or are there more issues coming? :D

[2019-04-11 14:23] binarious commented on #41
I'm done for today :D. Thanks.

[2019-04-11 14:28] icanhazstring commented on #41
`0.5.4` tagged. You can confirm the fix and close it if it works. Thanks 😃

[2019-04-11 14:32] binarious commented on #41
Confirmed. :+1:

[2019-04-11 14:32] #41 closed

[2019-04-12 06:55] binarious opened #43 "Support packages only used in composer "scripts" section"
**Is your feature request related to a problem? Please describe.**
Some packages may only be used in the `scripts` section of the `composer.json` file. These are shown as unused. An example would be [incenteev/composer-parameter-handler](https://github.com/Incenteev/ParameterHandler).

Usage:
[code]

**Describe the solution you'd like**
The package shouldn't be shown as unused.

[2019-04-12 07:13] icanhazstring commented on #43
This is same as some symfony packages where the dependency is only used in the `services.yml`.

That would be a feature possible for 1.0 since I need to provide another parsing method and "language". Currently I am only using php-parser to correctly Identify usages.

At the moment you could ignore this specific package in your `composer.json`

[2019-04-30 06:39] icanhazstring opened #45 "Improve CONTRIBUTE.md with better instruction"
Currently the `CONTRIBUTE.md` only has information about local development. But it does not give you information about how to clone it and require it globally so you can test it against one of your repositories.

This is a common use case, where you required `composer unused` globally but encountered a bug with your project which you want to resolve.

Following this should be added
- information a

[2019-04-30 07:46] #45 closed

[2019-05-06 08:53] kitingChris commented on #43
Same issue for me. But should be considered as bug as due to removal this will result in missing packages.

[2019-05-06 10:56] icanhazstring commented on #43
Well I think this can be considered both. Bug, as it should find the usage. Feature as I currently only support scanning of `.php` files.

This problem can also occur if you are using a phpunit extension which is only registered inside the `phpunit.xml` itself.

[2019-07-25 10:51] carusogabriel opened #48 "Unable to install package"
When typing `composer require --dev icanhazstring/composer-unused`, I'm getting an error and I can't install this package 😕

[code]

[2019-07-25 10:56] xuanquynh commented on #48
Could you post your composer.json?

[2019-07-25 11:00] carusogabriel commented on #48
@xuanquynh Sorry, but is a private company package. What information do you need?

[2019-07-25 11:18] xuanquynh commented on #48
I can install icanhazstring/composer-unused normally so I want to try with your composer.json.

Please try this command "composer search zendframework/zend-servicemanager" and tell me the output?

[2019-07-25 11:24] carusogabriel commented on #48
I see. So it is a local issue indeed. I'll try to figure out what is going on and share here.

[code]

[2019-07-25 11:27] xuanquynh commented on #48
The composer tells that "zendframework/zend-servicemanager ^3.4 -> no matching package found.". It means it could not find "zendframework/zend-servicemanager" package with version contraint ^3.4.

Could you try "composer require zendframework/zend-servicemanager:^3.4"?

[2019-07-25 11:30] carusogabriel commented on #48
[code]

[2019-07-25 11:30] carusogabriel commented on #48
And if I copy the first `zendframework/zend-servicemanager` and try again, same error. btw, composer version:

    Composer version 1.8.6 2019-06-11 15:03:05

[2019-07-25 11:31] xuanquynh commented on #48
That is the problem. Your composer could not find "zendframework/zend-servicemanager" package. While it works normally in my computer.

[2019-07-25 11:33] xuanquynh commented on #48
Do you change this composer configuration?

[code]

[2019-07-25 11:39] carusogabriel commented on #48
Yeap:

[code]

[2019-07-25 11:46] icanhazstring commented on #48
Hi @carusogabriel this seems like a private packagist right?
Your company has to "add" the `zendframework/zend-servicemanager` into their private packagist repo.
If this isn't there, you will get the error your encounter right now.

[2019-07-25 11:53] carusogabriel commented on #48
It worked. Thanks for the help guys 🎉

[2019-07-25 11:53] #48 closed

[2019-07-25 11:56] icanhazstring commented on #48
Thanks for changing the title @carusogabriel 👍

[2019-08-25 10:02] icanhazstring opened #49 "Feature: Check for used packages from autoload-dev"
To ensure a proper production release ready build, dev requirements should not be included.

So ensure that no source code from dev requirements or the dev requirement tree is used without it to require as root requirement a new check should be implemented.

[2019-08-25 10:10] icanhazstring commented on #49
Probably already covered by ComposerRequireChecker

[2019-08-26 19:29] hkdobrev commented on #49
ComposerRequireChecker should check for that as it only crawls symbols defined in the `autoload` section of the dependencies. This specifically protects against soft dependencies which can very easily be installed as a soft dependency which is available by a dev tool in development and testing environments, but not on production.

[2019-08-27 08:22] icanhazstring commented on #49
@hkdobrev thanks for clarification. Guess I will skip this feature, since it doesn't fit with the "unused packages" scope of this tool.

But again, thanks :)

[2019-08-27 08:22] #49 closed

[2019-10-24 12:33] bestog opened #56 "ServiceManager (Zend) not found in container.php (0.6.0)"
**Describe the bug**
I wanted to install the dependency with `composer require --dev icanhazstring/composer-unused` and afterwards I got the error message that the `Zend\ServiceManager\ServiceManager` was not found. The Dependency was removed with the 0.6.0 release and can therefore no longer be resolved.

**Error dump**
[code]

[2019-10-24 14:17] icanhazstring commented on #56
Hi @bestog. Thanks for reporting. Will see to it asap. Bugfix coming in soon.

[2019-10-24 16:35] marcelthole commented on #33
This looks interesting. I will try to add this feature with a new NodeParserStrategy.
The `ReflectionExtension` looks good, because we can get the defined constants and classes provided by the Extension

[2019-10-24 17:04] #56 closed

[2019-10-24 17:07] icanhazstring commented on #33
@marcelthole thanks! Go ahead. If you need any information don't hesitate to ask 👍

[2019-10-24 17:25] bestog commented on #56
@icanhazstring Thank you. 👍

[2019-10-31 10:49] #33 closed

[2019-11-11 12:03] icanhazstring opened #59 "[Question] Would you write your own usage parser?"
This question is directed to issue #43. Some frameworks (e.g. symfony) are using other file types (xml, yml) to link used packages to the system. As of now composer-unused is only able to scan for usages using php-parser, which in return, only supports php files.

Would it be useful to provide a certain "plugin" feature, so people could write their own usage parser? (similar to phpstan extensions)

[2019-11-21 11:11] icanhazstring opened #60 "Feature: Add command option to make strict scan of suggested packages"
## Is your feature request related to a problem? Please describe.
In the current state, required packages in root `composer.json` will be marked as "used" if they are suggested by any other required package. This leads to a pretty sloppy result as most packages of frameworks (symfony, zendframework, laravel) suggest each other package.

The problem is you won't see the "real usage" of a package.

[2019-11-28 09:29] binarious opened #61 "Error while running on sylius"
## Describe the bug
Running composer unused on [sylius](https://github.com/Sylius/Sylius) results in the following error:
[code]

Steps to reproduce:
- `composer create-project sylius/sylius-standard acme`
- `cd acme`
- `composer unused`

## Error dump
[code]

## Additional information
- php 7.3

[2019-11-28 09:38] icanhazstring commented on #61
Hi @binarious thanks for reaching out. I will look into this.

[2019-11-28 09:42] icanhazstring commented on #61
Can you give me a list of your installed composer dependencies?

`composer show`

[2019-11-28 09:47] binarious commented on #61
@icanhazstring Thanks for your time again.

[code]

[2019-11-28 12:02] icanhazstring commented on #61
@binarious could you do the same for global requirements please?
`composer global show`

[2019-11-28 12:09] binarious commented on #61
@icanhazstring Sure:

[code]

[2019-11-28 12:18] icanhazstring commented on #61
Thanks that helps. Looking into to 👍

[2019-11-28 19:33] icanhazstring commented on #61
Ok I located the problem or rather the problems.

1. From what I see is `composer` does *NOT* use the global installed dependencies if they are `replaced` by another package

2. `phpstan/phpstan-shim` replaces `nikic/php-parser` which I require. So (as mentioned in 1.) the Interface can't be located because `phpstan/phpstan-shim` does not define it.

The current `dev-master` of `phpstan/phpstan-sh

[2019-11-29 08:53] stedekay opened #62 "PHAR file"
I just want to ask if there are any plans on distributing a PHAR file for future releases. I think this tool would be a perfect match to be handled with PHIVE as its a dev dependency.

[2019-11-29 10:04] icanhazstring commented on #62
Hi @stedekay. Yes there is. I will probably add a phar file to the next release as there are some issues using this tool as a root or global dependency which can't be resolved other that using a phar file.

See #61

Support an release should happen in the next couple of days.

[2019-11-29 10:07] icanhazstring commented on #61
Only solution to this will be supplying a phar file to bundle my dependencies. So this should happen in the next couple of days.

See @62

[2019-11-30 10:53] icanhazstring opened #63 "Feature: PHAR Packaging"
This relates to #61 and #62

The following changes should be made:
- [ ] Add a build process to package an executable `composer-unused.phar`
- [x] The package namespaces should be scoped to avoid interference with consumer namespaces
- [x] Add `bin/composer-unused` executable as `main` entry point
- [ ] `bin/composer-unused` should work as simple `Composer\Console` application

[2019-11-30 11:33] #63 closed

[2019-11-30 11:34] icanhazstring commented on #63
Continued in PR

[2019-12-01 21:42] icanhazstring commented on #62
Hi @stedekay. The new release `0.7.0` and every further one, will have a `composer-unused.phar` which you can use.

https://github.com/icanhazstring/composer-unused/releases/latest

Closing this then, if everything is broken with it. Don't hesitate to open up a new issue.

[2019-12-01 21:42] #62 closed

[2019-12-02 07:17] icanhazstring commented on #61
Phar support is now released. Unfortunately there is still a bug using it with sylius. The php-parser is running into endless recursion which breaks after a few iterations.

Problem is probably in the details. But will look into it 😉

[2019-12-02 08:55] stedekay commented on #62
Perfect, will try it later. Do you also plan to add a gpg key so it is possible to add this phar via phive.xml?

[2019-12-02 10:00] icanhazstring commented on #62
Yep, planning to do this during the next days.

[2019-12-02 10:01] stedekay commented on #62
Great to hear! Thanks for your work.

[2019-12-02 13:43] icanhazstring opened #67 "Feature: Add option to suppress progressbar"
## Is your feature request related to a problem? Please describe
When using `composer-unused` in CI environment, the progressbar often screws up the logs.

[code]

## Describe the solution you'd like
Add a cli option`--no-progress` to suppress the progressbar.

[2019-12-02 13:54] icanhazstring opened #68 "Feature: Add gpg signature for phive deployment"
Since #64 composer-unused is able to be delivered through a phar file.
Need to add a gpg signature for downloadability through phive.

[2019-12-02 15:37] icanhazstring opened #69 "Feature: Provide extension API for custom usage scanner"
## Is your feature request related to a problem? Please describe
There is a problem scanning real usages for non-php files. For example, Symfony uses the `container.xml` to define services. In there, there are classes linked using their FQN.

## Describe the solution you'd like
Provide an extension API so users can develop their own usage scanner to avoid false positives.

## Configuration
As this

[2019-12-04 09:55] icanhazstring commented on #59
Closed in favor of #69

[2019-12-04 09:55] #59 closed

[2019-12-05 20:33] icanhazstring commented on #68
Added signed phar into latest release and opened PR on phar.io
https://github.com/phar-io/phar.io/pull/71

[2019-12-05 20:34] icanhazstring commented on #62
Signed release should be available when #68 is done.

[2019-12-05 22:12] icanhazstring commented on #68
Can be now installed using phive.

[2019-12-05 22:12] #68 closed

[2019-12-06 09:40] binarious commented on #61
For me this is fixed by updating to phpstan 0.12 and removing phpstan-shim from Sylius. Feel free to close it and thanks for your work 🙂.

[2019-12-06 19:09] icanhazstring commented on #61
Alright. Closing it then. 👍

[2019-12-06 19:09] #61 closed

[2019-12-08 07:45] #67 closed

[2019-12-11 09:35] fre5h opened #73 "Namespaces of vendor aren't analyzed in config files of Symfony"
## Describe the bug
I've installed your tool for the first time on my symfony project. In my project I use such bundles and libraries: `oneup/flysystem-bundle`, `superbalist/flysystem-google-storage`, `google/cloud`. It is needed to upload files to Google Cloud Storage.

Files from `google/cloud` aren't used anywhere in my code directly. They are only described once in the settings of `oneup/flysy

[2019-12-11 11:46] icanhazstring commented on #73
Hi @fre5h this is the same situation as #43 and will be solved as soon as #69 is implemented.

I or any other developer is then ready to implement their own usage parsing, e.g. for symfony.

[2019-12-11 12:03] fre5h commented on #73
@icanhazstring thank you for reply

[2019-12-11 12:11] icanhazstring commented on #73
You're welcome. Keep an I out for version 1.0 where this will be released with 😉

[2019-12-11 13:33] #73 closed

[2020-01-24 17:11] VincentLanglet opened #74 "False positive for ramsey/uuid-doctrine and beberlei/doctrineextensions"
## Describe the bug
The https://github.com/ramsey/uuid-doctrine and https://github.com/beberlei/doctrineextensions is reported as unused in my symfony project.

But I do used them. This way
[code]

Can this project handle yaml config ?

[2020-01-24 20:05] icanhazstring commented on #74
Hi @VincentLanglet thanks for reaching out.

Sadly at the moment, no.
I am working on this with the next major release where I want to add some custom usage scanner (see #69). So I am currently working on this.

I will mark this as duplicate to #43 since this all should be solved with above mentioned implementation.

[2020-01-24 20:07] icanhazstring commented on #74
Also mentioned with #73

[2020-02-11 14:53] BackEndTea opened #75 "Feature request: find orphaned dependencies"
## Is your feature request related to a problem? Please describe
As described here: https://twitter.com/icanhazstring/status/1227190874855165953

I require package `A`. `A` has a dependency on package `B`.
Later i remove package `A`, but `B` remains in my `composer.lock`. This can be due to manually editing the composer.lock, merge conflicts, or other reasons.

B is now an orphaned dependency, and

[2020-02-17 21:59] VincentLanglet commented on #69
Hi ! 👋
What is the news about the implementation of this issue ? Any good news ? :)

Thanks for the tool

[2020-02-18 12:29] icanhazstring commented on #69
HI @VincentLanglet thanks for reaching out.
Unfortunately I didn't find the appropriate time to implement it.
I did however some "usecase research" on paper.

I will probably simply Update this PR with some of my ideas so people can see the progress :)
And thanks again 👍

[2020-03-09 11:00] icanhazstring commented on #75
Hi @BackEndTea.

I was just trying to replicate the problem.
What I have done was:

[code]

Which leaves a lot of dependencies from phpunit left in my system.
A simple `composer udpdate` would do the trick, but I guess this is not what you wanted, since it updates also everything else.

With your provided script, you simple scan of any of the installed packages are linked to one of you root requir

[2020-03-09 21:33] BackEndTea commented on #75
Yes that is how it works.

[2020-04-07 09:44] Jean85 opened #76 "Composer 2 support"
## Is your feature request related to a problem? Please describe
Composer is starting to roll out 2.0-dev builds: https://github.com/composer/composer/issues/8726

## Describe the solution you'd like
Support Composer 2.0 (without BC if possible), without dropping 1.0 support.

## Describe alternatives you've considered
If the above is not possible, we can plan a new major version.

[2020-04-08 11:58] icanhazstring commented on #76
Hi @Jean85. Thanks for reaching out. I will try if there is a breaking change with the new api. If not I can simply allow it.

Also, in future the direct composer plugin will be decoupled from the actual tool.

But for now, I'll see if this is an easy fix 👍

[2020-05-16 06:59] icanhazstring commented on #76
Hi @Jean85

I have added support for composer 2.0. I checked it against my local setup and it runs on current snapshot version of composer. Could you please verify as well if everything is working?

You can install it as a global composer dependency using:

[code]

Thanks in advance 👍

[2020-05-16 15:18] JoshuaBehrens opened #78 "Composer.json without require entries should not be an error"
## Describe the bug
A composer.json with no require entries seems to be a problem as the exit code is non zero and thus kills CI or other following scripts. Having nothing to check should not be per-se an error. When nothing is there to be checked anymore it is an error having this tool still required, check. When nothing is there to be checked yet is it not an error. This keeps me from preparing

[2020-05-16 15:27] JoshuaBehrens opened #79 "php is always marked as unused requirement"
## Describe the bug
A composer.json with a php version constraint gets as output that the php requirement is unused and should be discarded. There is a psr 4 valid class in the src folder that uses a core function. That should count to require any php version.

## Error dump
#### composer.json
[code]

#### Command
[code]
#### Log
[code]

[2020-05-16 16:26] icanhazstring commented on #78
Hey @JoshuaBehrens. Thanks for reaching out. Of course this doesn't make sense at all.

I will see to it and change the behavior to a valid exit code. 👍

[2020-05-16 16:30] icanhazstring commented on #79
Hi again. Thanks for reporting. The scan of core exetnsikns7and the language itself is not very stable.

For example if you require a package that uses `php`. `php` will be reported as required by that package instead of the root project itself.

This should also solve the problem you are describing. I will see to it. Thanks for reporting.

[2020-05-16 18:19] JoshuaBehrens commented on #79
Thanks for you fast reaction. In case you need any support from my side just give me a note.

[2020-05-16 18:22] JoshuaBehrens commented on #78
Looking forward to it. When you need any help from my side just give me a note. I'd really like to use this tool 👍

[2020-05-17 07:35] icanhazstring commented on #79
Ok found the bug, as we try to load all classes, constants and function from alle "extensions".
As all extensions having the correct name (e.g. json - which will match as `ext-json`) this is working fine.

Only difference is the "core"  extension, so `php` itself. The current implementation is trying to find the `ext-core` which does not work obviously :)

I will try and fix this with #78 as they

[2020-05-17 08:17] icanhazstring commented on #78
Merged into `master` you could check if this works on your CI :)
If everything is fine I will tag this as next patch release. (as well as #79)

[2020-05-17 09:51] JoshuaBehrens commented on #79
Nice I'll try ASAP. Thanks for your super fast reaction :shipit:

[2020-05-18 06:46] Jean85 commented on #76
You can easily test yourself in CI like I did here: https://github.com/getsentry/sentry-symfony/blob/master/.travis.yml#L51-L53

I can't right now because in the projects where I use yours, I also use Symfony Flex, which is not yet compatible...

[2020-05-18 07:23] icanhazstring commented on #76
Nice thanks for the testing idea.
Will set it up right away and see if it works :)

For symfony/flex. What is the compatibility issue?
Maybe I could help somehow?

[2020-05-18 20:45] icanhazstring commented on #76
Merged with #77 into `dev-master`. Tag coming ASAP

[2020-05-18 23:57] JoshuaBehrens commented on #79
I can confirm that nothing in a psr 4 setup results in a php unused and thus non-zero exit code 👍 and having an empty class is not triggering the php usage 🤔. I do not expect some sort of feature detection check to determine the php version but any php file should trigger the usage of php, doesn't it? Using a function like `strlen` is correctly detected and results in a zero exit code 💯

All in al

[2020-05-19 00:03] JoshuaBehrens commented on #78
Works like expected. Thanks for the fast responses and fixes. Keep up the great commitment 🥇 this is a very helpful tool that more people should be aware of 💯

[2020-05-19 04:52] icanhazstring commented on #78
Thank you ❤️
Will tag next release asap.

[2020-05-19 04:54] icanhazstring commented on #79
Yep. Currently extensions as well as core language are only detected if symbols (class, constant, functions) are used.

Ofx of you are using plain php without any of those symbols. The language is still "used" 😅

Maybe some improvement in the future 😉

Thanks for testing the changes 👍
Tag coming up asap

[2020-05-19 09:45] Jean85 commented on #76
Flex has a pending issue: https://github.com/symfony/flex/pull/617
It's a bit complicated due to the fact that it's deeply rooted inside Composer.

[2020-05-19 10:43] icanhazstring commented on #76
Ah. I see, so not much I can do on that front :)

[2020-05-19 10:54] icanhazstring commented on #76
Tagged with https://github.com/composer-unused/composer-unused/tree/0.7.2

[2020-05-19 10:54] #76 closed

[2020-05-19 10:54] icanhazstring commented on #78
Tagged with https://github.com/composer-unused/composer-unused/tree/0.7.2

[2020-05-19 10:54] #78 closed

[2020-05-19 10:54] icanhazstring commented on #79
Tagged with https://github.com/composer-unused/composer-unused/tree/0.7.2

[2020-05-19 10:54] #79 closed

[2020-05-19 11:41] JoshuaBehrens commented on #79
🥳

[2020-05-19 11:41] JoshuaBehrens commented on #78
🥳

[2020-05-20 07:12] temp opened #81 "Installation via phive fails"
It worked a week ago ;-)

Seems like it is signed with a new signing key, that has not yet been uploaded to the keyservers?

[code]

[2020-05-20 07:34] icanhazstring commented on #81
Woot. Ok that is strange. Thanks for reporting. Will fix this asap.

[2020-05-20 08:13] icanhazstring commented on #81
@temp works again. Forgot to update my key ;)

[2020-05-20 08:35] jakzal opened #82 "phar 0.7.2 throws a fatal error"
## Describe the bug

Running the latest phar (0.7.2) throws a fatal error.

Steps to reproduce:

[code]

## Error dump

[code]

[2020-05-20 08:36] temp commented on #81
Works like a charm, closing!

[2020-05-20 08:36] #81 closed

[2020-05-20 08:41] icanhazstring commented on #82
Hi @jakzal thanks for reporting.
Will check it out.

[2020-05-20 10:19] icanhazstring commented on #82
@jakzal can you give me some information about your setup?

- php version (`php -v`)
- composer version (`composer --version`)
- your `composer.json` (you can remove proprietary informations)

Thanks.

[2020-05-20 10:45] jakzal commented on #82
[code]

[code]

composer.json:

https://github.com/jakzal/toolbox/blob/6d71753cbdf5b2256d71a1a3299e7abb5b807685/composer.json#L5-L23

[2020-05-21 12:30] JoshuaBehrens commented on #82
I can confirm. Using it from composer instead works.

[2020-05-21 14:14] icanhazstring commented on #82
Thank you both for confirming. Fixed with #84 and will tag it soon.
I added a new workflow check to validate the phar output so this problem should not hit another version in the future 👍

[2020-05-21 14:24] JoshuaBehrens commented on #82
Thanks for fixing :)

[2020-05-21 14:44] icanhazstring commented on #82
Tagged `0.7.3`. Thanks for reporting 👍

[2020-05-21 14:44] #82 closed

[2020-05-21 18:57] JoshuaBehrens opened #85 "Check functions from file autoloading"
## Describe the bug
A function from a composer dependency is used but its usage is not detected. I assume it is about a function that is provided via files autoloading: https://github.com/bpolaszek/php-iterable-functions/blob/0cc66fecec909546752b67215af72acbb66445e3/composer.json#L10

## Additional information
[code]

[2020-05-21 20:01] icanhazstring commented on #85
Thanks for reporting. Yes you are correct. Currently the only thing that is beingatched from dependencies are Namespace from psr-4 and psr-0. Everything else is not checked.

But that would ofc make a lot of sense when it comes to packages that only provide functions instead of class symbols, which in return won't be provided as psr autoload pattern but instead of files.

I guess we can mark this

[2020-05-21 21:24] JoshuaBehrens commented on #85
Although I am thrilled to tackle this I am currently more into using this to support my own projects. Let's see who has time for it first 🚀

[2020-06-01 08:30] icanhazstring commented on #85
Alright so, some thoughts about how to get this working.

1. I will slightly rework how the usages are scanned. Right now everything works against a namespace with a slight "workaround" for core extensions. These are already using kind of a symbol based comparison
2. That being said: I will have to implement a symbol based matching

**What is a symbol:**
A symbol might be one of three things
- A C

[2020-06-01 13:47] JoshuaBehrens commented on #85
Just having a namespace check explains the fast execution if this tool. I must admit I thought it already is a symbol-based check 😅

So we need a collection of everything in the fully qualified name that is provided by a package. I think your list of symbols is fine but I like to add two points to the discussion:
* I assume that class includes traits and interfaces, right?
* Global variables... Di

[2020-06-01 13:59] icanhazstring commented on #85
Funny side node. I don't do a full scan of your code and the package code. I just read the namespace, which included most of class and constants, the just iterating your files stopping at the first usage.

This should be the handling afterwards still. Since the tool is pretty fast, I want to leave it that way, even checking all symbols.

There a still some shitty implementations which can be optim

[2020-06-01 16:24] JoshuaBehrens commented on #85
Other analysis tools have optional caching features. Although caching things can be a statement of writing imperformant code it will still improve a second run in any way. In my case I already use analysis caching so I am prepared for this.

I don't call for global constants. I am talking about global variables.
[code]

But a file can still define global constants... Oh no... the `define` and `is_

[2020-06-01 16:38] icanhazstring commented on #85
Yes. I would probably stick to the same logic as the php extension system works if you call `new ReflectionExtension($extension);` where you can call `getConstants()`, `getClassNames()` or `getFunctions()`.

Every other thing could be an addition for the future if someone needs this.

With the caching I am on the "cache if necessary". IMO designing the system with caching already in mind will lead

[2020-06-01 17:22] JoshuaBehrens commented on #85
I have the feeling I will stumble upon these edge cases 😁 but yes we don't have to over-engineer it all at once.

Caching has to be opt-in, yes.

That is a good thought. I didn't think of that kind of optimization and I share the same expectation that a file autoloader less often publishes classes.

[2020-06-07 13:55] simPod opened #87 "ext-ds usages not detected"
## Describe the bug
I'm heavily dependent on ext-ds however it is reported as unused. I wonder why and what can I do to fix it.

## Error dump

[code]

## Additional information

This is to reproduce https://github.com/simPod/php-bugs/commit/e539a754fe7d2c94dc193057a930707fd80d8785

[2020-06-07 16:52] icanhazstring commented on #87
Hi @simPod thanks for reaching out.

This is really strange. Will check into that to see if the defined symbols in the package might not be recognized correctly.

[2020-06-12 09:52] icanhazstring commented on #85
I opened a draft PR (#89) adding the new implementation so you can track the progress.

[2020-06-12 11:20] JoshuaBehrens commented on #85
nice 🕶️

[2020-06-12 11:22] icanhazstring commented on #85
Hold your horses 😄
There is still only the new implementation besides the old stuff. Need to wire it up if everything is in place :)

[2020-06-12 11:52] JoshuaBehrens commented on #85
I got that it is not ready. Just wanted to state that I have test cases to provide (and will for testing purposes).

[2020-06-12 14:24] icanhazstring commented on #85
Just realized while adding the implementation:

Moving `autoload.files` up front if only file autoload is provided doesn't matter. Using generators the symbols for psr0/4 are simply skipped. So there is ko advantage changing the order.

Also function and constant parsing is IO heavy since I have to get the contents of the provided files. So this will always be done last and only if the psr0/4 name

[2020-07-03 14:30] simPod opened #90 "icanhazstring/composer-unused usages not detected"
## Describe the bug
`icanhazstring/composer-unused` is reported as unused.

## Additional information

This is to reproduce https://github.com/simPod/php-bugs/commit/d8c3b26882be05dda34d19ff1d580c3431182d0d

[2020-07-03 14:42] icanhazstring commented on #90
Using this commit i only see `bentools/iterable-functions` not being used which is true.
And `php-64bit` not found (ignored) which should be used instead - this is a bug.

But composer-unused is not reported as unused.

[2020-07-03 14:45] simPod commented on #90
It is used in these lines

https://github.com/simPod/php-bugs/commit/d8c3b26882be05dda34d19ff1d580c3431182d0d#diff-08174935c89921090730ea9ac6d84c52R7

https://github.com/simPod/php-bugs/commit/d8c3b26882be05dda34d19ff1d580c3431182d0d#diff-08174935c89921090730ea9ac6d84c52R13

[2020-07-03 14:45] simPod commented on #90
https://github.com/bpolaszek/php-iterable-functions#iterable_to_array

[2020-07-03 14:48] icanhazstring commented on #90
Ok, but anyways this is currently not possible and worked on in #89

[2020-07-03 14:49] simPod commented on #90
Ok, I'll keep it ignored. Thx! Can close if u with.

[2020-07-03 14:50] icanhazstring commented on #90
I will keep it open and mark is a duplicate to #85 so you can receive updated when its available :)

[2020-07-17 11:21] lulco opened #91 "Packages with classmap autoloading are ignored"
90% of packages I used in one of my project has classmap src autoloading, so they are ignored with reason "Package provides no namespace". They have some namespaces, just it is not mentioned in composer

Is there a way how to use your great library with this type of packages?

Thank you for your work!

[2020-07-17 12:03] icanhazstring commented on #91
Hi @lulco thanks for reaching out!

The problem in the current state is I am depending on the "string" from the psr0/psr4 value in `composer.json` of the packages to match against "provided namespaces".

However!
I am currently working on symbol resolving for the next release #89 #85 .
Using this, I will be able to scan through all sort of `files` and `classmap` alike to find which symbols a packa

[2020-07-29 11:59] exussum12 opened #92 "Find bin only packages"
## Is your feature request related to a problem? Please describe
Packages used in a CI enviroment use no symbols. For example phpmnd, phpstan etc

## Describe the solution you'd like
If a package provides a "bin" section, check if its used. This can be checked by default with
```grep -ir --exclude-dir=vendor vendor/bin *```
The exclude dir and the binary path should be dynamic (bin-dir defaulting

[2020-07-29 12:06] icanhazstring commented on #92
Hi @exussum12. Thanks for reaching out.
This will be indeed a good addition 👍. Will add this in a future release.

[2020-08-07 11:26] icanhazstring opened #93 "Composer virtual packages are reported as ignored"
## Describe the bug
Running `composer unused` in a library that requires a virtual package (e.g. `psr/log-implementation`) composer unused is obviously not able to locate the package. Packages with the `-implementation` suffix should not be reported at all.

## Additional information
https://devedge.wordpress.com/2014/09/27/composer-and-virtual-packages/
https://matthiasnoback.nl/2014/10/composer-

[2020-08-07 11:31] icanhazstring opened #94 "Packages only used in annotations are reported as unused"
## Describe the bug
If you require a package which is only used in phpdoc annotations, this package will be reported as unused.
For example if you use `jms/serializer` where you only define your model attributes using the `@JMS\Type` annotation.

## Additional information
Possible solution would be to use a docblock parser to get this kind of information.
https://github.com/phpstan/phpdoc-parser

[2020-08-19 10:00] simPod opened #95 "myclabs/php-enum is marked as unused"
https://github.com/myclabs/php-enum

Reproduced here https://github.com/simPod/php-bugs/tree/unused-enum

[code]

[2020-08-19 10:02] icanhazstring commented on #95
Hi @simPod thanks for reporting.

I think this is related to #94 and the `extends` keyword is not scanned.
So it's kind of a combination. Will see to it 👍

[2020-08-19 12:29] icanhazstring commented on #95
As `extends` is not supported. `implements` might also not work.

[2020-09-11 14:01] lulco opened #96 "False positives for packages which are not used directly"
## Describe the bug
In one of my project I use package `https://github.com/lulco/redis-proxy` which suggests usage of `predis/predis` in case you don't have `ext-redis` installed, so my composer looks like:

[code]

It is true I don't use any part of `predis/predis` directly, but I use redis-proxy which uses it. Not sure if it is correct and I have to exclude predis/predis or it is a bug :)

Thank

[2020-09-11 21:06] icanhazstring commented on #96
Hi @lulco

That is weird. Because I have a check which looks for suggested packages 🤔

I will a look at that. Thanks for reporting 👍

[2020-09-11 23:07] lulco commented on #96
Hi, maybe the problem is connected with the issue that package lulco/redis-proxy uses classmap autoload and not psr?

[2020-09-12 05:58] icanhazstring commented on #96
That could be. Since proxy-redis will be marked unused, the suggested package will not be taken into account.

So yes good catch 👍

[2020-09-15 09:27] icanhazstring commented on #96
As soon as #89 is done. This should be solved.
As before I only relied on `psr-0` and `psr-4´ namespaces in a `composer.json` which was pretty easy to do.
So I need to rework how composer-unused scans for symbols.

[2020-09-15 14:39] icanhazstring commented on #85
Hi @JoshuaBehrens
I think the PR #89 is now in a good state to be tested.

I have added an `experimental|x` option to the `composer unused` command which will then perform the new symbol scanning. As you mentioned to be willing to provide some real-life testing, would you mind testing it out?

[2020-09-15 14:58] icanhazstring commented on #91
@lulco the new symbol parsing is in a good stand right now.
I would appreciate it if you could check out the PR #89 and test it against one of your projects for real-life coverage. 👍

[2020-09-15 15:22] #95 closed

[2020-09-15 15:23] icanhazstring commented on #95
@simPod could you please verify using `:dev-master` if this fix works for you. If you, I will tag a new release.

[2020-09-15 15:35] icanhazstring commented on #87
Tagged as `0.7.4`

[2020-09-15 15:36] icanhazstring commented on #95
Tagged as `0.7.4`

[2020-09-15 21:19] JoshuaBehrens commented on #85
Hi @icanhazstring I put it on my todo list :) So the latest release has this feature already? Or do I have to install the branch locally?

[2020-09-15 21:21] icanhazstring commented on #85
You need to install it using `composer require icanhazstring/composer-unused:dev-feature/symbol-scanning`.
The latest release was a bugfix release.

The next release having this feature will be `0.8`.

[2020-09-16 10:06] lulco commented on #91
I would like to, but I am not sure how to do it. I have this in composer.json:
[code]

executing vendor/bin/composer-unused outputs the same as before:

[code]

[2020-09-16 10:08] icanhazstring commented on #91
You need to pass the `-x` option to the executable to execute the experimental mode which uses the new symbol scanning.

[2020-09-16 10:09] lulco commented on #91
Ah now I read the description of PR :)

So I added option -x and now all packages are marked as unused :))

[code]

[2020-09-16 10:10] icanhazstring commented on #91
Haha ok, not what I expected.
Could you give me your full `composer.json`?

So I can check it :)

[2020-09-16 10:25] lulco commented on #91
I had to create some minimal repository, so here it is:

[code]

In app folder I have just one class which uses RedisProxy.
[code]

I have composer unused installed "globally" in directory `~/tests/composer-unused` so I execute it this way:
[code]

[2020-09-16 10:27] icanhazstring commented on #91
Alright, will check that. Thanks 👍

[2020-09-16 10:32] icanhazstring commented on #91
Ah, I see what is wrong here.
The problem is not the dependencies, but the root composer package itself - my bad 🤦

I located the problem here: https://github.com/composer-unused/composer-unused/pull/89/files#diff-a4550cf56729e9395c835d913c390bc2R44

I only take psr-0 and psr-4 from the root package (your project) into account.
Which for you ofc does not work. I simply need to do the same as for f

[2020-09-16 15:17] icanhazstring commented on #91
@lulco try again. I think I fixed the implementation accordingly :)
At least my test case with `classmap` works so that the symbols can be found.

[2020-09-16 15:37] lulco commented on #91
Well, sorry :) still not working for me...

I have added one more package (tomaj/nette-api using psr-4 autoloading):

composer.json:
[code]
and implementation of ApiHandler

MyApiHandler.php
[code]

`~/tests/composer-unused/vendor/bin/composer-unused -x`

[code]

Running without `-x` option:

`~/tests/composer-unused/vendor/bin/composer-unused`

[code]

So this package is found as used.

But, I am

[2020-09-16 16:10] icanhazstring commented on #91
Well. Hm. Problem with php. You are not using any symbol (class, constant, function) from php itself. So it is detected as unused. 🤔

Need to think about that.
The other, I'll use your code as test then in full. Let's see.

[2020-09-16 19:57] simPod commented on #87
Wrks, thx!

[2020-09-16 19:57] simPod commented on #95
Wrks, thx!

[2020-09-17 08:15] lulco commented on #91
Yeah I understand :) but I use another php keywords "class", "extends" etc...

Now I am thinking about this: I am not using any php 7.3 feature, so it would be super cool if this was the reason why php is marked as unused :) but probably it would be the whole new package :D

[2020-09-17 08:23] icanhazstring commented on #91
Yep but `class` and `extends` are not a symbol but a keyword.
So I think if at least "one" symbol of the root package was found, we should expect that "PHP" is used ;)

For the version check: I could print out a notice that no feature was used from the required version. But then again, this is totally up to the author what versions he/she wants to support :)

[2020-09-18 21:17] icanhazstring commented on #91
Good news on the packages tho.
They should now be found as used.

Problem was that the FileSymbol parsing was only taking `autoload.files` into account, but not `autoload.classmap`.
Now both methods are supported and should resolve in providing the correct symbols that might be used.

[2020-09-21 14:04] lulco commented on #91
Hi, I just download actual version of the branch and it looks promissing :) packages are marked as used now.

But I found few problems:
- ext-json is marked as unused even if I use function json_encode / json_decode
- if I add library lulco/phoenix and run `composer-unused --no-progress -x` it is marked as used even if I don't use any symbol from it
- false positive "used packages" if I don't remo

[2020-09-21 16:30] icanhazstring commented on #91
Seems I have introduced a bug, should still be possible. Will look into it 👍

Another test case. Awesome thanks 😅👍

This is currently by design. I only parse constants or functions from Namespaces and only `use` imports. Another feature for the future would be to have a more in depth analysis on how many times a package is used. Maybe one could consider removing the extension and only use a single

[2020-09-21 16:38] icanhazstring commented on #91
You can see the parsed "usages" here.

https://www.github.com/composer-unused/composer-unused/tree/main/src%2FParser%2FPHP%2FStrategy

[2020-09-23 21:54] icanhazstring commented on #91
Hi @lulco, I have found a series of small performance impacts as well as bugs inside it.
With the last commit, I think I resolved some of them.

 So for example, `ext-json` should now be marked as used 👍

[2020-09-24 15:58] lulco commented on #91
Hi @icanhazstring, I have tested current version and ext-json works like expected.
Unfortunately the issue with package `lulco/phoenix` which is installed but not used, still persists :(

[2020-09-24 16:06] icanhazstring commented on #91
Will take another look. Thanks for testing 🙏

[2020-09-24 16:07] lulco commented on #91
I have some observation:

It is not only package `lulco/phoenix` but also `nette/database` which is installed but not used.
If I completely delete class MyRedis which looks like:
[code]

 all of them (lulco/redis-proxy, nette/database, lulco/phoenix) are marked as unused. The only package which is used in this class was redis-proxy

Sooo I moved `lulco/redis-proxy` to the end of composer.json

[co

[2020-09-24 19:23] icanhazstring commented on #91
Wait what? 🤔
OK I think I need to do some serious digging there. But thanks for the additional information 👍

[2020-09-30 08:23] icanhazstring commented on #91
I will add some kind of best practices section for composer-unused. As composer unused should always run last. After listing and static analysis to ensure that the code is clean as it should be.

[2020-09-30 08:59] icanhazstring commented on #91
Ok, I can now confirm that `composer-unused -x` behaves differently depending on the order of require packages.

[code]

[code]

[2020-09-30 09:07] lulco commented on #91
great I will wait for new version to test :)

[2020-09-30 09:56] icanhazstring commented on #91
Ok found the issue.
The problem was located at the PHPParser NodeVisitor stacking up previously analysed symbols from previous packages.
So every further package that was getting scanned had the previous existing symbols.

This is because the order of the packages mattered.
Should now work regardless of the order :)

[2020-10-07 05:17] icanhazstring opened #98 "Constants using define() are not recognized"
Using `define()` constants are not recognized so that packages might not be marked as used.

[2020-10-07 05:18] icanhazstring commented on #98
Can be solved after #89 is merged

[2020-10-16 10:45] OskarStark opened #101 "Different decision for mime_content_type() and \Safe\mime_content_type()"
## Is your feature request related to a problem? Please describe
Yes and I am not really sure if this is a bug or a not yet implemented feature?

Lets say I have:
[code]
and the following `composer.json`:
[code]

everything is fine.
Now I require `thecodingmachine/safe` and change my code accordingly:
[code]

**now composer unused reports `ext-fileinfo` as unused** 😢

This is the same behavior for

[2020-10-16 10:47] icanhazstring commented on #101
Can you try this against #89 using `composer-unused -x`?

[2020-10-16 12:14] icanhazstring commented on #101
Hm. Looking at the `composer.json` of `thecodingmachine/safe` it seems that `ext-fileinfo` is not event suggested.
This means that `composer-unused` will most likely report this extension as unused.

As I only scan for root symbols (from the project/lib itself) or foreign symbols from required packages.
But currently, I do not scan used symbols from each of the required packages to match them agai

[2020-10-16 13:24] OskarStark commented on #101
&

Thats true, otherwise they have to suggest **all** extensions, which would the result in "No ext-* will be ever marked as unused, if you require the lib", right?

That make sense, but I would love to have custom scanners when using special libs.

I can do this, but its wrong from my POV, one would not understand why I `require` **and** ignore it by `unused` at the same time 🤔

Thanks for your t

[2020-10-16 13:28] icanhazstring commented on #101
True. That would seem weird.

Hopefully, I can improve the code further in the next week when I got some time on my hand.
Also adding the ability to add customer scanners is one thing that is on my list for a long time.
That would solve a lot of problems e.g. non PHP configuration files.

I still didn't find the time on how to get something like this done :)

[2020-10-16 14:39] icanhazstring opened #102 "[-x] Add `required-by` dependency"
In the current state of the experimental feature `composer-unused -x` the `required-by` logic is not implemented.
So required packages in the root will be marked `unused` even if another required package is requiring it.

[2020-10-16 14:40] icanhazstring opened #103 "Improve autoload.classmap"
Noticed another problem that might come up and should be considered:
According to the composer documentation (https://getcomposer.org/doc/04-schema.md#classmap) autoload.classmap can have not only folders but files and folders with wildcards.

So the current implementation on src/Symbol/Loader/FileSymbolLoader.php does not cover all possibilities and should be covered by tests for these cases. One

[2020-10-16 14:41] icanhazstring opened #104 "[-x] Add `suggested-by` dependency"
In the current state of the experimental feature `composer-unused -x` the required-by logic is not implemented.
So required packages in the root will be marked `unused` even if another required package is suggesting it.

[2020-10-16 15:17] #102 closed

[2020-10-16 15:30] #104 closed

[2020-10-17 10:10] icanhazstring commented on #101
Related to #69

[2020-10-19 06:44] laurentmuller opened #107 "False positive when using beberlei/doctrineextensions."
## Describe the bug
In my project, I use the [beberlei/doctrineextensions](https://github.com/beberlei/DoctrineExtensions) plugin. To use this plugin, I just have the `beberlei_doctrine_extensions.yaml` configuration file. No depedencies is used in my code.

## Error dump
[code]

## Request
This will be nice if the `composer-unused` can detect this kind of use (configuration file depedencies).

[2020-10-19 08:05] icanhazstring commented on #107
Hi @laurentmuller thanks for reaching out.

Sadly at the moment, this is not possible.
I am working on implementing a custom scanner (#69) so support such packages.

I will keep this open and mark it as a duplicate so you will get notified if I have solved this :)

[2020-10-19 08:05] icanhazstring commented on #107
Duplicate to #43 and #74.

[2020-10-19 08:07] icanhazstring commented on #91
Hi @lulco I have merged the PR #89 with a new development branch `0.8.x`.
This way I can keep track of things that don't work out right now with the new symbol scanning.

Can you check again if the current state is working for you?
Thanks 🙏

[2020-10-19 08:29] lulco commented on #91
Hi @icanhazstring :) sorry, not really work for me :( I've installed 0.8.x-dev branch.

My repo now contains only MyRedis class in app dir

[code]

and composer.json

[code]

It seems like only psr packages are analyzed. Did I miss something?
[code]

[2020-10-19 08:32] icanhazstring commented on #91
Hm. Did you run using `composer unused -x` since the output seems to be the "old" one.

[2020-10-19 08:37] lulco commented on #91
yes, but I got error ```The "-x" option does not exist.```

[2020-10-19 08:50] icanhazstring commented on #91
Ah yes. My bad, the current `main` branch has an alias for `0.8.x-dev`. Could you try require `dev-0.8.x`? That should be the branch then.

[2020-10-19 08:57] lulco commented on #91
composer cannot install it:

[code]

[2020-10-19 09:08] icanhazstring commented on #91
Wow ok sorry. I did fuck up ;)
I have removed the `branch-alias` from the `main` branch and removed also the version on packagist.
You should now be able to require it using

[code]

And run it via `composer unused -x`.
Sorry for the inconvenience.

[2020-10-19 10:24] lulco commented on #91
Great, now it works :)

I think, we can close this issue as resolved. Thank you

[2020-10-19 10:26] icanhazstring commented on #91
Awesome. Thanks for testing 🙏
Will close this then with 0.8.x.

[2020-10-19 10:27] #91 closed

[2020-10-19 12:24] lulco commented on #96
@icanhazstring we can close this issue too. With -x option 0.8.x-dev it works

[2020-10-19 12:24] #96 closed

[2020-10-20 06:54] icanhazstring commented on #69
-- Updated information about how this interface should work

[2020-10-20 06:57] icanhazstring commented on #43
Should be covered with #69.

[2020-10-20 08:25] icanhazstring commented on #85
This should be solved in the current `0.8.x-dev` version.

[2020-10-22 20:26] icanhazstring commented on #85
Closing this. If it still doesn't work for you. Feel free to reopen 👍

[2020-10-22 20:26] #85 closed

[2020-10-22 20:36] JoshuaBehrens commented on #85
Sorry for not actively checking this. I assume it'll work 😅  bet I'll check in when there is a need for changes

[2020-10-23 12:37] ravage84 opened #108 "False-Positives with CakePHP Plugins"
## Describe the bug
I used the plugin to check a CakePHP application that uses some CakePHP plugins and got two false-positives.

## Error dump
[code]

## Additional information

``cakedc/tiny-mce`` is used in varous ways in ``src``:

- `` * @property \TinyMCE\View\Helper\TinyMCEHelper $TinyMCE``
- ``$this->addPlugin('TinyMCE');``
- ``public $helpers = ['TinyMCE.TinyMCE' => ['script' => '/js/tiny_

[2020-10-23 12:45] icanhazstring commented on #108
Hi @ravage84 thanks for reporting.

We have a multitude of problems here.

This is related to #94. So this will be a feature to scan also annotations that the package is used.

These are all problematic. As it is difficult to scan "strings" and compare them to any symbol a package provided.

This would be related to #69. As we would need to provide the possibility to "report" certain calls for `Ca

[2020-10-23 12:47] icanhazstring commented on #108
While the first issue should be fairly easy to resolve.
The others might take a while as I am trying to provide this with the next version `0.8`

[2020-10-23 12:57] ravage84 commented on #108
@icanhazstring I totally understand your issues. I think scanning annotations would be worth it, especially those like ``@var``, ``@property`` etc.

But don't bother about the CakePHP plugins. If they are used only through the framework, I can ignore them. May be an exclude/ignore CLI parameter for the unused plugin would be nice.

[2020-10-23 13:03] icanhazstring commented on #108
I will resolve the annotations parsing in the near future.
The others should then be solvable, but one would need to write a CakePlugin for composer-unused so usages can be parsed correctly 👍

[2020-10-23 13:06] icanhazstring commented on #108
You actually can ignore packages using cli or even inside you `composer.json`

https://github.com/composer-unused/composer-unused#exclude-folders-and-packages
https://github.com/composer-unused/composer-unused#ignore-by-configuration

[2020-10-26 06:22] sadortun opened #109 "Packages only used in composer.json commands are marked as unused"
## Describe the bug

[code]

[2020-10-26 07:23] icanhazstring commented on #109
Hi @sadortun thanks for reporting.
I will mark this as duplicate to #43 which should be solved with #69.

[2020-10-26 08:29] sadortun commented on #109
@icanhazstring Oops sorry about that, i did go through the list of issues, but for some reason i did not see it :) !

Awesome project BTW !!

[2020-10-26 08:29] #109 closed

[2020-10-26 08:30] icanhazstring commented on #109
No worries 😉
And Thanks. Appreciate it 🙏

[2020-11-03 01:53] lulco opened #119 "All packages are marked as unused if project uses external autoload"
Hi @icanhazstring :) it's me again :)

## Describe the bug
I just test composer-unused on some real app (not library) and I get interesting results.
With `composer-unused -x` all packages are marked as unused. Without `-x` option there are some used and ignored packages.

## Additional information
I realized that this project has no autoload in composer.json because it uses some external loader. S

[2020-11-03 06:29] icanhazstring commented on #119
Hi @lulco

Could you paste the full output of `composer-unused` with and without the `-x` option?

Also could you give me the `composer.json` of the app. You can ofc remove some proprietary dependencies if you need to.

[2020-11-03 10:51] lulco commented on #119
Sure, I had to create some minimal repository. I again used my old small app.

`composer.json`
[code]

App contains 2 classes:

`app/Api/MyApiHandler.php`:
[code]
and `app/Api/MyApiHandler.php`:
[code]

Output for `composer-unused -x`:
[code]

Output for `composer-unused`:
[code]

With changed composer.json (added autoload classmap app):
[code]

Output for `composer-unused -x` is as expected:

[co

[2020-11-03 10:52] icanhazstring commented on #119
Thanks, will take a look into it 👍

[2020-11-03 11:03] lulco commented on #69
How will I pass some parameters to providers? For example `My\\Custom\\YamlSymbolProvider` will need some list of directories to check.

Background:
I have composer-unused installed globally and use in CI for all my apps. So the only difference is the path where the app is located.
Also I have multiple types of apps - web app, library, cms module etc. Each type has different structure - in web app

[2020-11-03 11:06] icanhazstring commented on #69
That is a good question :)
The answer is, you will do it yourself.

You will add your custom provider to the configuration.
The custom parser might be located inside your code, or in another required package.
`composer-unused` will run through all providers and fetch the symbols.

The easiest way is to parse every `.yml` file from the path where your `composer.json` is located (recursively)

[2020-11-03 11:11] icanhazstring commented on #119
Ok, found the problem.

With `0.7.x` I use the basepath of the `composer.json` to recursively scan all `*.php` files. So the configuration about the root autoload is irrelevant.

With `0.8.x` I used the `composer.autoload` configuration. So if that is not present, nothing will be loaded, resulting in no used symbols. That is ofc, "stupid" ;)

In case of `composer.autoload` not present I should hav

[2020-11-05 22:24] Borumer commented on #37
I am interested in taking up this issue. I am a new contributor to this repository.

[2020-11-06 02:51] Borumer opened #120 "What exactly needs to be installed before contributing?"
## Is your feature request related to a problem? Please describe
I get lots of errors when I first clone this repository, and `composer install` doesn't resolve all of them.

## Describe the solution you'd like
An update to CONTRIBUTING.md

## Describe alternatives you've considered
I have already implemented additional steps into CONTRIBUTING.md by figuring out what needs to be installed, so the

[2020-11-06 09:24] icanhazstring commented on #37
Hi @Borumer, sure go ahead.
If you need any help or more information, don't hesitate to ask :)

[2020-11-07 22:39] #120 closed

[2020-11-09 01:52] Borumer commented on #37
@icanhazstring So I'm looking in `UnusedCommand.php` and I figured out that the `addOption()` method is what is needed here. But all the options currently set use arguments, not interaction. How would I go about using an interactive command? This is the code that I have so far:

        $this->addOption(
            'interactive',
            null,
            InputOption::VALUE_OPTIONAL,

[2020-11-09 13:23] icanhazstring commented on #37
Yes, the option is the correct one.

How the workflow should be:

1. The user enables the interactive mode using `--interactive`.
After the scan is done the user should be asked which packages to remove.
https://github.com/composer-unused/composer-unused/blob/75c35a0a3671bb5726e649a400e7269a033fc060/src/Command/UnusedCommand.php#L200

2. For this at the above-mentioned line, iterate over the `$unu

[2020-12-09 15:30] #69 closed

[2020-12-09 15:30] #75 closed

[2020-12-09 15:31] #60 closed

[2020-12-09 15:33] #92 closed

[2020-12-09 15:34] #101 closed

[2020-12-10 13:42] tomasnorre opened #136 "illuminate/log seen as unused package"
## Describe the bug

I have a CLI tool based on `laravel-zero/framework` there is use the `illuminate/log` packages, but the `composer unused` do not recognize the use of it.

[code]

The PHP where it's uses looks like this
[code]

It's a Facade registered on the app. I'm sorry I don't know what additional information to provide.
My application breaks when I remove the dependency, so I am pretty s

[2020-12-10 13:55] icanhazstring commented on #136
HI @tomasnorre

Thanks! Can you show me how the package is registered with laraval?
Maybe this a case where a special "SymbolProvider" with #69 needs to be happening.
Or if the `illuminate/log` does not provide a comser.autoload setting which is currently supported with `composer-unused``

So what would help to define the problem:
1. How is the package registered with laraval (like is `app` from l

[2020-12-10 14:05] tomasnorre commented on #136
I'll see if I can provide you with more information, will not be today though ;)
Thanks for a fast reply.

[2020-12-10 15:36] tomasnorre commented on #136
1.
The app is from laravel-zero itself.
https://github.com/laravel-zero/laravel-zero/blob/e525b272b0/config/config.php

2. Yes
https://github.com/illuminate/log/blob/master/composer.json#L23

3. Have tried with both main and 0.8.x branch. Same result.

[2020-12-11 13:33] tomasnorre commented on #136
With the -x param is an additional package added to the "unused packages"

[code]

Forgot to mention that yesterday.

[2020-12-11 14:31] icanhazstring commented on #136
Ok, so for `laravel/helpers` there might an easy explanation.
The `-x` scans files for classes and sorts, but I think not `functions` and constants using `define()`.
This is why this will be reported as unused.

The `illuminate/log` is questionable.
I think what is happening here is, that this package gets somehow "magically" used by laravel-zero itself.
So in your code, there will never be any me

[2020-12-11 14:59] tomasnorre commented on #136
Ok can be. I don't know laravel that well yet to say anything about that :(

[2020-12-11 15:12] icanhazstring commented on #136
No worries, I will most likely dig into it myself for the time being.
When I find the time implementing the extension interface, I will probably provide some base implementation for the "big" frameworks out there (laravel, symfony)

[2020-12-11 18:14] tomasnorre commented on #136
Will be happy to help in any way that I can. I learn every time I contribute to open source projects.

[2021-01-01 16:39] c33s opened #140 "`--version` does not show the right version"
## Describe the bug
version output does not match with the currently installed version.
[code]
should be `0.7.1` (as you sadly require php 7.3 for higher versions)

[2021-01-01 16:54] c33s opened #142 "requiring a php in my lib leads to "Unused packages: php""
## Describe the bug
having a lib which simply requires a specific php version leads to `Unused packages: php`
`composer.yaml`

version 0.7.1 phar (cannot update your tool because higher versions require php7.3 which breaks my build matrix which checks against multiple php versions)

[code]

`src/StringHelper.php`
[code]

[code]

[2021-01-01 17:13] icanhazstring commented on #142
Hi @c33s, yes this is a known issue in the current version.

This only works currently if you require a package that requires php. I am working on a new mechanic to better Analyse used dependencies. But currently I don't have time to progress any further.

You can always try the `dev-0.8.x` version with parameter `-x`. This is the new feature, which is not nearly finished, but should provide the c

[2021-01-01 17:14] icanhazstring commented on #140
Hi @c33s, good point.
I do forget to update the version constant inside the code while tagging a new version.

Will see how I can automate that 👍

[2021-01-01 19:03] c33s commented on #142
the main problem will be #141 as i don't assume that you backport the fix it will be a won't fix for me will it?

[2021-02-24 09:53] simPod opened #159 "Declaration of Symfony\Component\Console\Style\OutputStyle::write() is incompatible"
Composer v2.0.10 is bundled with symfony/console where declaration of `Symfony\Component\Console\Style\OutputStyle` is

[code]

while in my app is

[code]

It somehow causes `composer unused` to crash

[code]

[2021-02-24 09:59] icanhazstring commented on #159
Hi. What version of `symfony/console` do you have installed?

[2021-02-24 10:01] simPod commented on #159
Sorry, it's 5.2.3. I require it directly in my app.

[code]

[2021-02-24 10:05] icanhazstring commented on #159
Ok thanks. Let me check what I can do about it :)

[2021-02-24 10:22] icanhazstring commented on #159
Do you have any other plugins installed which may cause this problem?
Because `composer-unused` is not directly dependent on `symfony/console`.

I have found a similar issue to yours here:
https://github.com/symfony/symfony/issues/39368

Where they point out a plugin, but as I said. A direct dependency to `symfony/console` is not present.
Can you check for another plugin that maybe has a dependenc

[2021-02-24 10:26] simPod commented on #159
Only those I listed here though `-vvv`.  I believe it might be cause by `unused` loading `composer/composer` `vendor` folder but that's a bit wild guess for now.

[2021-02-24 12:34] naderman commented on #159
@icanhazstring I somewhat suspect the problem is that you have a require on composer in your plugin (why? it's a plugin, why do you need every project to then also install copy of composer as a dependency?) So composer will create an autoloader for your plugin with all the dependencies of your plugin, which requires composer which requires symfony/console. @seldaek do you think it's possible the 2

[2021-02-24 12:46] icanhazstring commented on #159
I do have the requirements as I need to parse and load every dependency of a project this plugin is required in.

I took it as a shortcut to load every package and find the require statements to see what package is used by another package.

Also the autoload information is crucial to parse the source files for provided symbols.

[2021-02-24 12:48] naderman commented on #159
I'm not sure I understand why any of that means you have to put "composer/composer" in the require section of your plugin?

[2021-02-24 13:04] Seldaek commented on #159
Yes this was specifically the intent, that the project-installed versions now take priority over the composer.phar-bundled versions. Because Composer is typically compatible with the whole range of symfony components we support, but project-files/script handlers/plugins may not be.

I assume what happened here is that this plugin depended on the fact that previously bundled symfony packages were s

[2021-02-24 13:08] Seldaek commented on #159
Ah no sorry re-reading the OP, I guess the problem is we load part of the symfony/console classes in v2.8.x when initializing Composer, then create the project autoloader for the plugin and from that point on symfony/console 5.2.3 files get loaded, and those two don't mix well together. Not sure if we should undo the autoload change or rather preload all classes Composer relies on so that we enfor

[2021-02-24 13:14] lukasbestle commented on #159
Could this be solved by making Composer a dev-dependency? During runtime as a Composer plugin, the plugin has access to the Composer classes anyway.

[2021-02-24 13:31] icanhazstring commented on #159
Is that so? I didn't know. That is why I have it as a hard requirement. I will try.

Anyway, the problem @Seldaek mentioned seems important 😉

[2021-02-24 13:59] Seldaek commented on #159
Ok Composer 2.0.11 is out and reverts the change entirely so hopefully that fixes things.

[2021-02-24 14:03] simPod commented on #159
I can confirm the issue is fixed. Thanks!

[2021-02-24 14:05] Seldaek commented on #159
Great. That said, yes @icanhazstring I'd imagine `composer/composer` should only be in require-dev so you can run your test suite. At runtime the require on `composer-plugin-api` should be enough?

[2021-02-24 14:12] icanhazstring commented on #159
I will try @Seldaek. And thanks for the fix 🙏

[2021-02-24 14:17] icanhazstring commented on #159
Not that easy tho. I need to change my phar boxing so that composer/composer is present if I create the phar file. Otherwise the sources are not there. But yeah, I should change this in the future. 👍

[2021-02-24 14:18] icanhazstring commented on #159
@simPod this issue is solved then?
I will open a new one for myself to remove `composer/composer` from `require`

[2021-02-24 14:33] simPod commented on #159
@icanhazstring yes. `unused` is up and running in CI again 🚀

[2021-02-24 14:35] #159 closed

[2021-03-18 20:07] simPod opened #166 "ext-ds round #2"
## Describe the bug

So I had the issue with ext-ds before #87 which got fixed. Thanks!

Now installed this lib on another project and it reports unused `ext-ds` again. Not sure why though.

The file has `use Ds\Set;`

and a method is like

[code]

## Error dump

<details>
[code]
</details>

## Additional information

I wonder how to debug. I can see it's scanning the file with ext-ds used in dump

[2021-03-19 06:38] icanhazstring commented on #166
Hi @simPod thanks for reporting.
This seems weird 🤔

Let me have a look at it.

[2021-03-21 09:08] glensc commented on #140
Also, it outputs nothing if there's no `composer.json` in current dir, leaving to believe the download is broken.

[code]

in some dir with composer.json:
[code]

besides release date being not expanded, unclear where that version comes from, my system composer is 1.x:
[code]

[2021-03-21 09:49] icanhazstring commented on #140
@glensc composer gets shipped inside the phar bundle. So this is where the version is coming from when executing the phar.

This is also the reason for the non output if there is no composer.json present. I might improve this a bit and decouple the cli command from composer in the future.

But Thanks for bringing this up 👍

[2021-03-26 15:38] Slamdunk commented on #81
@icanhazstring it's been a month that, again, I receive the following:

[code]

[2021-03-26 16:14] icanhazstring commented on #81
Hi @Slamdunk
Let me check.

[2021-03-28 13:56] icanhazstring commented on #81
@Slamdunk I reuploaded my public gpg key.
Seems to work now.

[code]

If not, try to remove the entries of `composer-unused` from `~/.phive/registry.xml`

[2021-03-29 07:12] Slamdunk commented on #81
Some server has it, like `keys.openpgp.org (37.218.245.50)`, others don't, like `hkps.pool.sks-keyservers.net (209.244.105.201)`.

Not your fault, but I say: I give up with `phive`, a bare download from `github.com` over a trusted TLS it's enough for me.

[2021-03-29 08:06] icanhazstring commented on #81
Hm, that is pretty stupid. But fine with me ;)

[2021-03-29 08:28] Slamdunk commented on #81
Why do you think it's stupid? It can fail only if you loose `https://github.com/icanhazstring` ownership; a less strong factor over the GPG key, but way more reliable

[2021-03-29 08:55] icanhazstring commented on #81
With stupid I mean the still missing sync between sks and opengpg

[2021-04-07 14:24] SvenRtbg commented on #142
One could argue that this tool should never complain about PHP being unused. It could be filtered out right before emitting any results.

[2021-04-07 14:48] icanhazstring commented on #142
@SvenRtbg which I totally understand but then again, there is the option to require php but never use it, because you only hold yaml configuration for symfony or other stuff.

But anyway. With 0.8.x this problem is solved. Since I do a major rewrite on the next version, 0.7 currently receives the more basic bug fixes.

[2021-06-08 10:58] bobvandevijver opened #183 "Connection failure doesn't set failed exit code"
## Describe the bug
Not much more than the issue title: the result code is 0 on a connection failure, while it shouldn't be. Although it does allow my pipelines to complete with todays fastly outage 😃

## Error dump
[code]

[2021-06-08 11:34] icanhazstring commented on #183
Hi, thanks for reaching out.
I think this is based on the fact that composer 1 is still packaged in the phar.
Let me check.

[2021-06-08 11:41] icanhazstring commented on #183
Just some questions:
- What composer version are you running?
- Are you using a correct github token (if any)?
- What PHP version are you running?

[2021-06-08 11:55] bobvandevijver commented on #183
The runner image uses PHP 7.3.27 with Composer 2.0.11 and doesn't have access to any Github token.

There is no lock file available, as that isn't persisted between the pipeline stages (but the vendor directory is fully present).

[2021-06-08 12:01] bobvandevijver commented on #183
Hmm, I just tried to reproduce it in a container without a network interface without luck. It just ran and completed normally. So it might be that this was actually caused by something else...

[2021-06-08 12:20] bobvandevijver commented on #183
Okay, so it seems that the curl command already failed and just retrieved a simple file with the text "connection failure" with a grand total of 18 bytes instead of the expected 4809k 😅

[code]

I blame Fastly 🙄

[2021-06-08 12:20] #183 closed

[2021-06-08 13:36] icanhazstring commented on #183
But anyways, thanks for letting me check again, so I can removed composer 1 support, as its not working with github anymore and is EOL ;)

[2021-06-26 13:27] icanhazstring opened #189 "FEATURE: Unused zombies"
### Discussed in https://github.com/composer-unused/composer-unused/discussions/188

<div type='discussions-op-text'>

<sup>Originally posted by **simPod** June 26, 2021</sup>
I have discovered few packages listed in my `unused` which are no longer required.

Would it make sense to also report these as invalid config?

Example: Consider a package `v/lib` in `require` and also in `unused` sections.

[2021-07-02 12:02] Slamdunk opened #190 "Your github oauth token for github.com contains invalid characters: "ghp_XXX""
Same as https://github.com/ergebnis/composer-normalize/issues/736

[2021-07-02 12:04] icanhazstring commented on #190
Thanks for bringing this up @Slamdunk.

I will do a new release removing composer 1 support at all.
This should fix the problem.

[2021-07-15 08:14] icanhazstring commented on #190
Hi @Slamdunk could you try to download 0.7.6?
I dropped composer v1 support, so that everything should be working again.

[2021-07-15 10:06] icanhazstring commented on #166
Hi @simPod I probably found the Issue. Will tag a new release soon.

[2021-07-15 10:15] icanhazstring commented on #166
Or probably not right now. This is the same issue with `php` requirement. If you don't have another package, requiring `ext-ds`. It will pop up as unused :(

However, this is fixed in the `0.8.x` branch

[2021-07-17 09:26] simPod commented on #166
🤔  I tried running 0.8.x and it reports

[code]

even though

[code]
is specified

[2021-07-17 11:12] icanhazstring commented on #166
Can you give me your full comsoser.json?

[2021-07-17 11:35] simPod commented on #166
[code]

[2021-07-17 13:17] icanhazstring commented on #166
Thanks. I'll try to replicate it. seems like something with the autoload.files directive.
With 0.7.x releases this always was also an issue.

Do you just have a single file that should be parsed which is using `ext-ds`?

[2021-07-17 13:35] icanhazstring commented on #166
What could also help, is a small code example having a composer.json with used dependencies and a codesample, that is using the extension but 0.8.x is reporting as unused. Then I could cover it with a test and fix it 👍

[2021-07-17 16:15] simPod commented on #166
Sure, prepared this https://github.com/simPod/composer-unused-reproduce

[2021-07-17 16:18] icanhazstring commented on #166
Ah, sneaky one with a require inside the autoload. I think I see where the problem is 😉

Good usecase, Thanks 💪

[2021-08-01 07:47] icanhazstring commented on #166
Hi @simPod I think I figured it out and updated the `0.8.x` branch with an implementation that should be able to follow include expression statements. Can you give it a try?

[2021-08-01 07:56] #190 closed

[2021-08-01 07:59] icanhazstring commented on #90
Closed due to the main problem fixed in `0.8.x`

[2021-08-01 07:59] #90 closed

[2021-08-01 08:03] icanhazstring opened #201 "Feature: Provide extension API for custom usage scanner"
### Discussed in https://github.com/composer-unused/composer-unused/discussions/69

<div type='discussions-op-text'>

<sup>Originally posted by **icanhazstring** December  2, 2019</sup>
## Is your feature request related to a problem? Please describe
There is a problem scanning real usages for non-php files. For example, Symfony uses the `container.xml` to define services. In there, there are clas

[2021-08-01 08:52] simPod commented on #166
@icanhazstring I tried with the "reproduce" repo mentioned above

[code]

but the result seems unchanged

[code]

[2021-08-01 09:25] icanhazstring commented on #166
Shouldn't have coded this in the middle of the night :D
Didn't see the `__DIR__` directive so the path to parse the file is wrong, need to check for that as well ;)

[2021-08-02 08:48] icanhazstring commented on #166
This time it has to work!
Could you check @simPod ;)

[2021-08-02 13:04] simPod commented on #166
Works, GJ!

On Mon, Aug 2, 2021 at 10:48 AM Andreas Frömer ***@***.***>
wrote:

[2021-08-02 13:43] icanhazstring commented on #166
Awesome, thanks for the use case 💪

[2021-09-16 11:27] michaelarnauts opened #213 "Symlinked folders are ignored"
## Describe the bug

I have a `common` folder that is symlinked to an directory outside the project root, but is in the same git repo.

It seems that those folders that are symlinked are not scanned. I think this can be solved easily by adding `followLinks` here https://github.com/composer-unused/composer-unused/blob/main/src/Parser/PHP/PHPUsageParser.php#L60

See https://symfony.com/doc/current/c

[2021-09-16 12:22] icanhazstring commented on #213
Hi @michaelarnauts.

Thanks for pointing that out and giving a solution 💪
Will take a look and see if I can crunch in a fix release.

[2021-10-01 13:26] icanhazstring commented on #166
Closing as its solved in 0.8.x

[2021-10-01 13:26] #166 closed

[2021-10-04 11:57] icanhazstring opened #217 "Ignore composer-plugin-api from reported packages"
## Describe the bug
If you are using `composer-unused` for any composer plugin, the `composer-plugin-api` package is required but does not actually ship any code.

This package should not be reported at all (not even as ignored package).

These type of packages could be already removed here:
https://github.com/composer-unused/composer-unused/blob/main/src/Console/Command/UnusedCommand.php#L101

[2021-10-04 11:58] icanhazstring commented on #217
[code]

[2021-10-04 12:14] icanhazstring opened #218 "Add `suggested-by` flag for console output"
With the rework for version `0.8`the `suggested-by` flag in the console output is still missing.
This feature needs to be added again so a package is marked as `suggested-by` by another package.

This should be done here:
https://github.com/composer-unused/composer-unused/blob/main/src/Console/Command/UnusedCommand.php#L134

If required `PackageA` is suggested by required `PackageB`, `PackageA` sh

[2021-10-04 12:15] icanhazstring opened #219 "Add `required-by` flag for console output"
With the rework for version `0.8`the `required-by` flag in the console output is still missing.
This feature needs to be added again so a package is marked as `required-by` by another package.

This should be done here:
https://github.com/composer-unused/composer-unused/blob/main/src/Console/Command/UnusedCommand.php#L128

If required `PackageA` is required by a required `PackageB`, `PackageA` sho

[2021-10-04 12:16] icanhazstring commented on #93
related to: #217

[2021-10-04 12:23] icanhazstring commented on #213
I updated your issue since I refactored some of the implementations and extracted that part into `composer-unused/symbol-parser`

[2021-10-06 11:26] verenaroe commented on #217
I would add a filter here https://github.com/composer-unused/composer-unused/blob/ccffcc7b3113d2a85745850b3d4f315c7360d1ad/src/Console/Command/UnusedCommand.php#L94 to always exclude composer-plugin-api and merge it with existing exclusions from the --excludePackage option. I would create an array of packages which should always be excluded that can be extended in the future. What do you think?

[2021-10-06 12:45] icanhazstring commented on #98
Already merged in `main` branch

[2021-10-06 12:47] icanhazstring commented on #142
Merged into `main`. Will be released with next version.
Closing it for now.

[2021-10-06 12:47] #142 closed

[2021-10-13 16:33] markuspoerschke commented on #93
I tested this bug and I get the following output:

[code]

My example project: https://github.com/markuspoerschke/composer-unused-test/tree/issue-93

[code]

[2021-10-21 08:33] #93 closed

[2021-10-30 22:30] tuefekci opened #232 "Fatal Error Composer Install bec. PhpParser?"
## Describe the bug
Installed via $ composer global require icanhazstring/composer-unused and does not just work out the box living these here because i know that these type of problems are sometimes hard to find.

Happens for me with global and local installation the phar is probably fine if vendors are bundled.

## Error dump

[code]

## Additional information
[code]

[2021-10-31 05:33] icanhazstring commented on #232
Hi @tuefekci, a global require is more problematic as a local one.

If you require it globally, your local requirements will be loaded instead of global ones. This will probably cause the ClassNotFound and the composer req error since you are using php-parser 1.4, while I require 4.12.

To maybe fix this, you can try the following:

[code]

Beware that this will upgrade all 3rd party dependencies

[2021-10-31 13:17] tuefekci commented on #232
[code]

It's probably a requirement of another package? It's not a big deal for me, I only opened the issue so less experienced people etc. will not fall into ii being unusable, So using the phar is really the optimal way like you write in the README.

I just read that the local part
`exclamation Beware: Local (or global) requirement might lead to issues related to outdated or replaced dependencie

[2021-10-31 13:17] #232 closed

[2021-10-31 13:18] icanhazstring commented on #232
Thanks for the tip :)
Will try to improve the readme in that way.

[2021-11-03 18:47] icanhazstring opened #235 "Feature: Detect indirect usage of direct requirements"
_Originally posted by @MGatner in https://github.com/composer-unused/composer-unused/discussions/234_

This happens if the root package will require a package that is not directly used by the root, but by another direct dependency. Those packages will currently be marked as unused while they are technically in use in an indirect way.

We need to actually also scan second level usage to mark indire

[2021-11-29 13:45] MGatner opened #242 "BUG: Package Functions"
## Describe the bug
**Composer Unused** does not seem to detect a package as a dependency if the source repo uses a function that is defined in that package.

## Error dump
Live example in Actions output: https://github.com/tattersoftware/codeigniter4-files/runs/4347265699?check_suite_focus=true
[code]

In this example `tatter/alerts` defines a helper function `alerts()` (https://github.com/tatter

[2021-11-29 13:47] icanhazstring commented on #242
Hi @MGatner.

Thanks for reaching out, again :)
Can you validate this against `dev-master` as I redesigned the ability to detect usages of functions and constants.

[2021-11-29 14:19] MGatner commented on #242
Thanks! Checking now...

[2021-11-29 14:27] MGatner commented on #242
Actually detecting less now.
[code]

The asset repos are expected (they used to be "Package provides no namespace") but `tatter/permits` was "used" before and now is "unused", and same issue with `tatter/alerts`.

[2021-11-29 14:51] icanhazstring commented on #242
Ok, I have removed some checks for the packages to be scanned.

Now there are some "new" packages delivered using composer.

1. Some packages is delivered using composer, which are no composer package at all. These are npm packages. This can maybe be removed if there is autoloading at all.

2. `tatter/alerts` (and the others) are special ones, these should be recognized but somehow the usage is no

[2021-11-29 16:54] MGatner commented on #242
Thanks! Let me know how I can help.

[2021-11-29 17:54] icanhazstring commented on #242
Will create a PR on composer-unused/symbol-scanner where I will add some test cases.

Would be nice if you could review them as I try to replicate the issue with your packages.

[2021-12-01 02:00] MGatner commented on #242
That's awesome! Thank you for the update.

[2021-12-03 19:07] simPod commented on #166
@icanhazstring When do you expect to release 0.8. Thanks!

[2021-12-04 09:11] icanhazstring commented on #166
Hi @simpod. I will probably strip down some additional features for 0.8 but I want the same features as before. So there are some still missing like required-by and suggested-by.

Also some minor bugs should be solved before releasing this. If I find some time I  think I will release something around end of the year.

We could also make a faster release if there are some contributors willing to he

[2021-12-04 15:32] simPod commented on #166
Thank you, just wanted to know what to ~expect. I'd help but currently I'm investing time in other OSS libs where issues burn me more (PHP81 stuff etc) 🙃

[2021-12-09 14:52] webmake opened #244 "Doesn't suggest to remove library"
## Describe the bug
I noticed that my composer.lock contains pagerfanta/core and pagerfanta/pagerfanta, (maybe due merge process or smth) I can freely remove by running:
`composer remove pagerfanta/pagerfanta` and it uninstalls, so wanted to test this library will it detect, reverted that both would exist, but `composer unused` didn't suggest at all removal.
Fragments from composer.lock
[code]

##

[2021-12-09 15:30] icanhazstring commented on #244
Hi @webmake

composer-unused doesn't check the contents of your `composer.lock` as I assume you keep your `.json` and `.lock` in sync. This tool only checks for required but unused dependencies. So if these packages were not required anymore, this tool will produce no output.

[2021-12-09 16:17] webmake commented on #244
Thank you for clarification

[2021-12-09 16:17] #244 closed

[2021-12-14 16:10] gander opened #245 "PHAR archive v0.7.8 require a PHP version ">= 7.4.0""
## Describe the bug
A [phar archive](https://github.com/composer-unused/composer-unused/releases/download/0.7.8/composer-unused.phar) has been downloaded, the attempt to run it with an error about unsatisfied system requirements. Globally installed code works fine.

## Error dump
[composer-unused-dump.txt](https://github.com/composer-unused/composer-unused/files/7713033/composer-unused-dump.txt)

[2021-12-14 16:41] icanhazstring commented on #245
Hi @gander let me check on that, maybe the build is broken.

[2021-12-14 16:59] icanhazstring commented on #245
Just release a new `0.7.9` bugfix release for 0.7.x branch which should fixes the phar build.

[2021-12-14 17:02] gander opened #246 "Not generating `composer-unused-dump-YmdHis`"
## Describe the bug
The `composer-unused-dump-YmdHis` file is never generated.
I have not found the code that would be responsible for generating.

[2021-12-14 17:03] icanhazstring commented on #246
There are some bugs regarding the dump in 0.7.x.
But I won't fix it in this version anymore. Target release will be 0.8 which will have some other error dumps.

[2021-12-14 17:11] gander commented on #245
[code]

[2021-12-14 17:11] gander commented on #245
I confirm that it now works for my PHP version.

[2021-12-14 17:34] #245 closed

[2021-12-14 17:38] gander opened #248 "Doesn't display anything when `composer.json` is missing"
### Discussed in https://github.com/composer-unused/composer-unused/discussions/247

<div type='discussions-op-text'>

<sup>Originally posted by **gander** December 14, 2021</sup>
When I run the application in a directory that does not contain composer.json, the application displays nothing. Never. It only returns the error code. Only when I put the composer.json file in a given directory, the app

[2021-12-16 12:16] icanhazstring commented on #242
Hi @MGatner could the check out the PR and see if this is working for you?
I did my best to replicate your issue :)

[2021-12-17 02:57] MGatner commented on #242
@icanhazstring It still seems to be missing some of them. In the same example above, I'm looking at the `tatter/alerts` package which houses the function `alert()`, used in **FilesController.php** multiple times.

I will say, the new version is *waaaay* faster! Very impressively so. Let me know if there are debug logs or something I can provide to help.

[2021-12-17 08:09] icanhazstring commented on #242
Thanks, will take a deeper look

[2021-12-17 10:10] icanhazstring opened #250 "bin/composer-unused not working when composer/composer not present"
## Describe the bug
Currently `composer/composer` is used to "fake" a composer executable using the `bin/composer-unused` binary.
This is not possible anymore as the dependency to it was moved to dev to avoid conflicting while installing the tool.

The binary should be removed altogether an only bundled with the phar archive where `composer/composer` is shipped with.
If installed as plugin `compos

[2021-12-17 10:44] icanhazstring commented on #250
Will probably try to introduce a backward compatible change to the binary to avoid releasing 0.8 only for that.
This will check if the needed classes for the binary are present when executing it. Maybe I can fall back to using `composer unused` using symfony/process then.

[2021-12-17 13:24] icanhazstring commented on #250
@AndreasA already working on a backward compatible fix right now.
In the future I will try and change something up, will probably remove the tight coupling with composer, and provide a separate plugin which integrates composer-unused as a composer plugin.

See #251

[2021-12-17 13:25] AndreasA commented on #250
@icanhazstring Ok. so a separate binary will still be available in the future too?

[2021-12-17 13:27] icanhazstring commented on #250
Yes, probably going to integrate symfony/console directly, and adding a new command into composer/console

[2021-12-17 13:42] icanhazstring opened #252 "Integrate symfony/console and split out composer plugin implementation"
We should remove the dependency to composer/composer altogether as there are some drawbacks to it:
- often conflicting with a direct dependency to `composer/composer`
- binary needs to have a cli application which is currently only working when invoking as composer plugin
- internal implementations relying real strict to composer dependencies

For the future, this should be done using `symfony/con

[2021-12-17 14:23] icanhazstring commented on #250
@AndreasA as you are using `bin/composer-unused` can you validate the change I made in #251 ?

[2021-12-18 12:08] AndreasA commented on #250
@icanhazstring During installation with composer, if I switch to the fix branch in the require section, I get `bin/composer-unused` file not found in package. Not really sure why though

[2021-12-18 12:13] AndreasA commented on #250
@icanhazstring  OK. If I switched the preferred-install to src for the package it worked, maybe the file is ignored in gitattributes or similar?

however, I get a TypeError that the first argument of symfony process must be an array but a string is given. Maybe you want to use `fromShellCommandline` instead? I think it depends on which version of symfony/process is used though.

[2021-12-18 12:17] AndreasA commented on #250
@icanhazstring OK. If I use `fromShellCommandline` it goes one step further but in combination with the composer bin plugin it will fail as `Command "unused" is not defined.` is returned then. As the unused command/plugin is only registered in the vendor-bin namespaced `composer.json`.

This can be bypassed by starting it from the corresponding subdirectory but then the wrong directory / composer.

[2021-12-18 14:48] icanhazstring commented on #250
Not as easy tho.
Can you give me a clue about the project setup you are trying to run this tool against?

[2021-12-18 15:47] AndreasA commented on #250
Well there is basically:
- composer.json --> root project one
    - contains the bin plugin: https://github.com/bamarni/composer-bin-plugin
- vendor-bin/composer-unused/composer.json --> composer.json for unused dependency check added using composer bin plugin with the `composer-unused` namespace.
- src/ --> contains sources defined in the root composer.json autoload
- bin/vendor/composer-unused -

[2021-12-22 23:35] icanhazstring commented on #250
Thanks for your feedback.
I have released a 0.7.11 which reverts previous changes.

This issue will stay open as information for 0.8 to remove the dependency to `composer/composer`alltogether.

[2021-12-22 23:35] #250 closed

[2022-01-03 12:14] #219 closed

[2022-01-03 12:26] #218 closed

[2022-01-04 15:22] icanhazstring commented on #250
Starting with 0.8 the requirement to `composer/composer` is removed.
As mentioned here (already fixed in PR) #252

[2022-01-04 15:23] #252 closed

[2022-01-04 15:31] #248 closed

[2022-01-04 15:37] #140 closed

[2022-01-04 16:11] icanhazstring commented on #242
I found the problem with this package.
Problem is that the `alert` function is coming from a file not containing the psr-4 namespace.
https://github.com/tattersoftware/codeigniter4-alerts/blob/develop/src/Helpers/alerts_helper.php

While the `composer.json` is only defining the `psr-4` autoload.
If there would be a `files` section in autoload containing the function, this would work.

[2022-01-04 16:21] MGatner commented on #242
Okay, I will try adding it to Composer's `files` and report back. This is a common issue with CodeIgniter Helper files - for example, in PHPStan we supply a list of additional files to scan: https://github.com/tattersoftware/codeigniter4-files/blob/develop/phpstan.neon.dist

[2022-01-04 16:24] icanhazstring commented on #242
I see. If you add them to autoload.files this should work with phpstan as well.

[2022-01-04 17:23] icanhazstring commented on #242
I merged the PR into main.
So if you want, you can try it using the `dev-main` version from composer.

[2022-01-04 19:22] icanhazstring commented on #189
@simPod thanks for the idea.
Added as feature for 0.8. :)

[2022-01-04 19:23] #189 closed

[2022-01-04 19:29] MGatner commented on #242
Okay, that worked, but also one weirdness! I pulled the latest and used it on `codeigniter4/files` and it missed the "helper files only" packages, as expected:
[code]

Then I modified **vendor/tatter/alerts/composer.json** to simulate having added the `files` as you suggested:
[code]

After running `composer dump` when I rerun `composer-unused` it detects `tatter\alerts` as used (yay!) but now als

[2022-01-04 20:10] icanhazstring commented on #242
Funny 😅
Let me check in quick example why this is the case.

[2022-01-04 20:50] icanhazstring commented on #119
Hi @lulco this is fix in `dev-main` soon to be released with `0.8`

[2022-01-04 20:53] #119 closed

[2022-01-04 21:04] icanhazstring commented on #242
Tried to reproduce with only `tatter/alerts` and `tatter/thumbnails` while only `alert` in use.

Results
-------

Found 1 used, 1 unused, 0 ignored and 0 zombie packages

 Used packages
 ✓ tatter/alerts

 Unused packages
 ✗ tatter/thumbnails

 Ignored packages

[2022-01-04 22:52] lulco commented on #119
Hi @icanhazstring it's been a while :) I stopped using the package, but maybe I will try it again soon :) Thanks

[2022-01-05 12:04] icanhazstring opened #269 "composer-unused-plugin reported as unused"
## Describe the bug
When using composer-unused/composer-unused-plugin the plugin gets reported as unused

[2022-01-05 12:06] #269 closed

[2022-01-05 12:11] icanhazstring opened #271 "Create new improved error dump"
Followup to #246

For the newest release, I removed the error dump feature as it needs major reworks.
To better understand was is happening under the hood some kind of event system is probably the best way to hook into every step of the workflow.

ACs:
- [ ] Create a new EventDispatcher which should be injected in the correct places to dispatch new events
- [ ] Create an EventListener that will be

[2022-01-05 12:11] #246 closed

[2022-01-05 15:25] MGatner commented on #242
Here are the exact steps to recreate it. I just did this in a fresh environment so I know it isn't cache or something.
1. `git clone https://github.com/tattersoftware/codeigniter4-files.git`
2. `cd codeigniter4-files/`
3. `composer update`
4. Run `composer-unused` and verify the following packages fail:
    * tatter/alerts
    * tatter/preferences
    * tatter/thumbnails
5. `vi vendor/tatter/alert

[2022-01-05 16:15] icanhazstring commented on #242
Thanks. Will check it out

[2022-01-06 11:14] icanhazstring commented on #242
PHP: 7.4
Composer: 2.2.3

Before autoload fix:
[code]

After outload fix:
[code]

Looks good to me though?

[2022-01-06 13:13] MGatner commented on #242
😳 That's bizarre. Same steps as mine? I've recreated this twice, and every time it erratically considers "thumbnails" and "preferences" in use.

Maybe environment difference? All my tests are on Ubuntu 20.04 with PHP 7.4, not sure the precise Composer but version 2.x

[2022-01-06 16:29] icanhazstring commented on #242
I am working on Mac though. Maybe I'll setup a docker with Ubuntu. But that seems odd 🤔

[2022-01-07 13:03] MGatner commented on #242
I mean, technically it is correct. It is just odd that it picks up the helper file functions without their addition to Composer's `files` array. I'm fine to roll with it for now and just keep an eye on changes.

FWIW for some packages with helper files I will probably opt to ignore them rather than have them autoloaded every time; in some scenarios that is quite useful but in others the helper fun

[2022-01-07 13:43] icanhazstring commented on #242
Feel free to add a feature request discussion 😉

So we can close this one for now?

[2022-01-07 23:53] #242 closed

[2022-01-10 08:59] AndreasA opened #273 "0.8.0-RC - composer-runtime-api requriement is detected as InvalidPackage that results in an error on markUsed method"
## Describe the bug
If the composer.json contains a requirement to `composer-runtime-api` in combination with 0.8.0-RC it detects as invalid package instead of usedpackage and it then tries to call markUsed which fails as invalid package does not have a markused method.

## Additional information
PHP 8.1

[2022-01-10 10:30] icanhazstring commented on #273
Thanks for bringing it up. Will take a look 👍

[2022-01-10 10:38] #273 closed

[2022-01-10 10:39] icanhazstring commented on #273
Will release another RC soonish with the fix included

[2022-02-03 11:31] icanhazstring opened #279 "Feature: Add output format option"
Add ability to change output format

_Originally posted by @icanhazstring in https://github.com/composer-unused/composer-unused/discussions/272#discussioncomment-1990032_

[2022-02-03 12:38] melihovv opened #281 "Ignored package marked as zombie"
## Describe the bug
After upgrade to 0.8.0 I see following behaviour:
- I have empty extra.unused
- I run composer-unused
- It outputs
[code]

- When I add these packages to extra.unused
[code]
- And run composer-unused again it shows the same packages but in "Zombies exclusions" instead of in "Ignored packages"
[code]

[2022-02-03 13:03] icanhazstring commented on #281
Hi, thanks. Will check :)

[2022-02-03 13:06] icanhazstring commented on #281
Can you give me your full composer.json?

[2022-02-03 13:09] melihovv commented on #281
Ok, I've deleted private packages and repositories for them from it
[code]

[2022-02-03 13:23] #281 closed

[2022-02-03 13:24] icanhazstring commented on #281
Resolved in `dev-main`

[2022-02-03 15:16] beeyev opened #283 "Multiple derprecations in php 8.1"
Hello, first of all, thanks for the great tool, I have been using it for quite a long time.
But it seems that the library needs to be updated in order to work with PHP 8.1
I get these errors:
[code]

Could you please fix that?

[2022-02-03 15:21] ro0NL opened #284 "Google api client not found"
From a global install

[code]

[code]

Expected files are

- vendor/eo/honeypot-bundle/Eo/HoneypotBundle/composer.json
- vendor/google/apiclient/src/Client.php

am i missing something?

edit: the same happens from a local install btw

[2022-02-03 15:32] icanhazstring commented on #283
Hi. Thanks for using it 😉
You are using the phar archive correct?
Will check on that.

[2022-02-03 15:34] icanhazstring commented on #284
Hi. Thanks for the report. Seems like an issue with autoload paths from one of those packages.

Will check.

Also keep in mind, global installation is not recommended and not supported.

[2022-02-03 15:34] MGatner opened #285 "`--profile` Option Missing"
## Describe the bug
Running on the latest PHAR from `setup-php` I am getting this error:
[code]

Example: https://github.com/tattersoftware/codeigniter4-frontend/runs/5053899917?check_suite_focus=true

I don't actually see `--profile` documented anywhere in this repo but it still shows on my `--help` output:
[code]

[2022-02-03 15:55] icanhazstring commented on #284
Thanks for the quick check. Will see to the dependencies

[2022-02-03 16:01] icanhazstring commented on #285
Are you using the composer-plugin right now? There is an issue with that one right now.

[2022-02-03 16:04] icanhazstring commented on #283
Related to https://github.com/box-project/box/issues/562#issuecomment-1004464177

[2022-02-03 16:19] icanhazstring commented on #283
https://github.com/box-project/box/issues/586

[2022-02-03 17:59] gsteel opened #286 "Zombies Feature Yields Unexpected Results"
## Describe the bug

Version 0.8.0 on PHP 8.1 installed as a global dep, using `/usr/local/bin/composer-unused`

There are several packages that don't seem to be picked up any more - all of these are referenced in config files outside of the project psr root but otherwise unused in `my-project/src`. Previous versions picked these dependencies up from files in `my-project/config/*` _(I assume)_.

I

[2022-02-03 18:17] icanhazstring commented on #286
Hi. Thanks for using 🤗
The zombie issue might be rwlted to #281 and will be fixed in next version.

The previous version picked up everything php related from the root of the project. This was some kind of difficult as some files were loaded that shouldn't have been loaded at all.

Additional file parsing will be added soon as well, so stay tuned

[2022-02-03 18:19] #279 closed

[2022-02-03 19:06] gsteel commented on #286
Thanks @icanhazstring - Much appreciated.

[2022-02-03 19:21] gsteel commented on #286
Can confirm that `dev-main` fixes the issue, but what's a bit odd is that now both unused and zombies are completely empty - I don't know if that's expected behaviour or not

[2022-02-03 20:27] icanhazstring commented on #286
It does :)

Zombies are unused "excludes".
For example: You require a package `custom/javascript` which doesn not contain even php. Composer-unused will flag this dependency as `unused`.

If you want to tell composer-unused it should ignore that package you can call the binary with `--excludePackage=custom/javscript` or add it to `composer.json[extra][unused]`. This way the package won't be shown

[2022-02-03 23:12] filipagh commented on #284
Hi, i have similar problem with smarty

[code]

[2022-02-04 12:17] MGatner commented on #285
Locally I'm using the cloned version of `main` ever since I started testing your new features 💪
GitHub Actions uses setup-php's "Tools" feature to install it - I'm not sure how they are getting it though.

[2022-02-05 08:02] jkowalleck opened #287 "[BUG] use of namespace not properly detected in v0.8.0"
## Describe the bug

in  version 0.8.0 of `composer-unused/composer-unused` a package is no longer detected as being used, ,
if the used symbols are made available from the original namespace.

in version 0.7.12 this behavior was es expected.

## Additional information

**_reproducible setup_** that displays the unexpected behaviour
(with `composer-unused` v0.7.12 and v0.8.0 in it):
 https://githu

[2022-02-05 09:36] icanhazstring commented on #287
Hi @jkowalleck thanks for the report.
The problem might be located here: https://github.com/composer-unused/symbol-parser/blob/main/src/Symbol/NamespaceSymbol.php#L29

Which comes down to this:
[code]

So this is most likely related to that and can be fixed in composer-unused/symbol-parser.
If you want you can give it a try :)

[2022-02-05 09:40] icanhazstring commented on #283
The box project was updated with a new phar. Probably only an update to the phive package and we should be fine.
Will check that later or you can give it a go using
[code]

Inside the project folder which should change the `.phive/phars.xml` with a new version for the box.

[2022-02-05 09:47] #286 closed

[2022-02-05 09:49] #103 closed

[2022-02-05 10:21] jkowalleck commented on #287
will do.

[2022-02-05 10:59] jkowalleck opened #288 "[BUG] unexpected "Zombie" for `composer-plugin-api` with `composer-unused:v0.8.0`"
## Describe the bug
The virtual composer package  `composer-plugin-api`
is detected as a "Zombie" and theexitcode is non-`0` when running  `composer-unused:v0.8.0`.
This was no issue in  `composer-unused:v0.7.12`

## Additional information

according to the [docs of composer](https://getcomposer.org/doc/articles/plugins.md#creating-a-plugin)
a plugin might describe its compatibility by requiring `

[2022-02-05 11:20] icanhazstring commented on #288
Thanks. Zombie feature did not exist in 0.7.12.

But certain composer dependencies should be filtered out everytime and the filter should be flagged as used.

See here https://github.com/composer-unused/composer-unused/tree/main/tests%2FUnit%2FFilter

[2022-02-05 12:04] icanhazstring commented on #288
@jkowalleck could it be, that you defined the exclusion yourself?

That would be that this exclusion is then being treated as a zombie.

[2022-02-05 12:13] jkowalleck commented on #288
cood idea. need to take a look.

[2022-02-05 12:21] jkowalleck commented on #288
false alarm, case closed

[2022-02-05 12:21] #288 closed

[2022-02-05 12:27] #283 closed

[2022-02-05 12:35] icanhazstring commented on #284
@ro0NL some problems I have found for documentation purpose:

- https://github.com/eymengunay/EoHoneypotBundle/blob/master/composer.json#L28
  - There might be an issue with the path resolving on my side
-  `expected vendor/google/apiclient/src/Client.php` is a wrong path should be `google/apiclient-services/src/...`
- Also I don't know there `/../apiclient/src/Google/Client.php` is coming from. C

[2022-02-05 12:38] icanhazstring commented on #285
When I run the `.phar` or `[vendor/]bin/composer-unused` there is no `--profile` option anymore.
This was no feature I added on purpose in the past

Running `composer --help` will display the `--profile` however.
So this option might only exist using the `composer-plugin` capability.

[2022-02-05 12:50] MGatner commented on #285
Got it! It's not a big deal, it was helpful to see since it was there but not necessary.

[2022-02-05 12:50] #285 closed

[2022-02-05 12:58] icanhazstring commented on #284
Ok, so news for `eo/honeypot-bundle`.
This package is using an deprecated configuration `target-dir` for composer which I did not implement.
So fixing this package should work if I implement the `target-dir` directory so the `composer.json` could be found.

[2022-02-05 13:12] icanhazstring commented on #284
And the problem with google-api is this one
https://github.com/googleapis/google-api-php-client-services/blob/6692549efd68dfa84e0761e5e733d7aee09b7d50/autoload.php#L8

If they need the client, why is it not in their `required` section?
This does not make sense at all and is just a broken implementation. Don't know if can fix that.

[2022-02-05 13:56] icanhazstring opened #290 "Package can't be located if installed in different path to its name"
## Describe the bug
If dependencies are installed using different measurements in a location other than `<vendor-dir>/<composer.json[name]>/` the package can't be located using the `LocalRepository`.

## Solution
We need to parse the `<vendor-dir>/composer/installed.json` to fetch the `install-path` from the config where the package is located.

Related: #284

[2022-02-05 13:58] icanhazstring commented on #284
I have fixed an issue in `dev-main` to avoid getting into this
[code]

However I need to implement a different approach to locate the package locally to actually resolve the problem.

[2022-02-05 14:22] ro0NL commented on #284
HI @icanhazstring thanks for digging in :) i totally understand you don't implement outdated composer configuration :+1:

i do think it's important for this command not to crash, and provide some form of meaningful output about what it "skips".

about the package from this "google" vendor (i've heard of them before /s), i just followed their README :) They do have a special autoloading trick: http

[2022-02-05 14:30] icanhazstring commented on #284
Will do a skip if the require can't be loaded. Which will probably resolve in an unused package. But that should be fine for now 😉

[2022-02-05 14:59] MGatner opened #291 "Incorrect Zombie Packages"
## Describe the bug
I seem to be getting reports on Zombie Packages that exists when excluded yet are "unused" when not excluded. Compare these two workflow runs:
* With exclusion (zombies): https://github.com/tattersoftware/codeigniter4-firebase/runs/5078326697?check_suite_focus=true
* Without exclusion (unused): https://github.com/tattersoftware/codeigniter4-firebase/runs/5078335880?check_suite_

[2022-02-05 15:42] icanhazstring commented on #291
Seems weird. Will check 😉

[2022-02-05 15:54] MGatner commented on #291
💪

[2022-02-05 16:23] icanhazstring commented on #291
Maybe related to #282

[2022-02-05 17:31] MatTheCat opened #292 "Lexer always use latest PHP version"
## Describe the bug
I just tried composer-unused with PHP 7.4 and got

This is because the project I’m working on includes PHPUnit 7.5.8 which defines [a `Match` interface](https://github.com/sebastianbergmann/phpunit/blob/7.5.8/src/Framework/MockObject/Builder/Match.php). The default lexer is the `Emulative` one [for the newest PHP version](https://github.com/nikic/PHP-Parser/blob/a6e34665fd6a2bc

[2022-02-05 17:58] icanhazstring commented on #292
Hi. Thanks for report. Did you run the phar bundle? This should run fine.

Local installation is always tricky.

[2022-02-05 19:04] agustingomes opened #293 "Crash happens if PSR-4 namespace has multiple folders"
## Describe the bug
I Attempted the upgrade to the 0.8 version, and ran it via `vendor/bin/composer-unused`. But it would crash afterwards.

After analyzing the stack trace, it is caused by the `FileSymbolLoader` (in the `composer-unused/symbol-parser` upstream package) expecting the psr-4 namespace declaration to be string only, however, the composer specification allows for both, string and arra

[2022-02-05 19:33] icanhazstring commented on #293
Looking forward to the PRs. Thank you👌

[2022-02-05 19:42] agustingomes commented on #293
I saw the root of this particular issue is in another library, but I'll try to come up with the PR's the following days

[2022-02-06 06:32] icanhazstring commented on #291
WIth latest `dev-main` ([9e79ecb](https://github.com/composer-unused/composer-unused/commit/9e79ecb3d1ec8b9d5b076678fc20b5c83c539d50)) this does not longer exist.

[2022-02-06 07:03] #284 closed

[2022-02-06 07:03] icanhazstring commented on #284
Should finish working in next release. Further improvements coming along the way :)

[2022-02-06 09:35] MatTheCat commented on #292
Same issue running the PHAR: the code is parsed as the latest PHP version, which is wrong.

[2022-02-06 09:38] icanhazstring commented on #292
Ok, thanks for the clarification.
Will try to come up with a test case to actually test this and implement a configuration or extrapolate the PHP version from the projects `composer.json`

[2022-02-06 09:53] MatTheCat commented on #292
I think running `composer-unused` against a project containing a `Match` class or interface would be enough, as it would fail using PHP7 :thinking:

Wouldn’t it be simpler to parse the code as the running PHP version? All it would take is a second argument to `PhpParser\ParserFactory::create`:

[code]

[2022-02-06 11:35] icanhazstring commented on #292
Yep. I implemented a fix using the current `PHP_VERSION_ID` to determine the lexer.
I needed to rework the dependency injection quite a bit to make it easier for me.

But the line you proposed is pretty much the fix :)

[2022-02-06 11:55] #292 closed

[2022-02-06 11:55] icanhazstring commented on #292
Solved in `dev-main` coming soon with `8.1` :)

[2022-02-06 12:56] MGatner commented on #291
Great news! I will have to wait for the release to percolate to the GitHub Actions setup but I will close this issue.

[2022-02-06 12:56] #291 closed

[2022-02-06 17:14] icanhazstring opened #298 "Feature: Additional files to autoload prior to scanning"
Add dedicated composer-unused configuration file

_Originally posted by @icanhazstring in https://github.com/composer-unused/composer-unused/discussions/272#discussioncomment-1989936_

[2022-02-06 17:27] #298 closed

[2022-02-07 08:29] ArtemGoutsoul opened #303 "Doesn't not seem to analyze files if composer.json is not in root"
composer-unused doesn't not seem to analyze files if composer.json is not in root

Directory structure
- project/lib/composer.json
- project/lib/vendor/
- project/lib/php_code/
- project/more_php_code/

When I run `composer-unused ./lib/composer.json` from project/ dir, it doesn't seem to analyze the code outside of lib

Versions:
- php 7.4
- composer-unused 8.0.0

[2022-02-07 08:32] icanhazstring commented on #303
Hi thanks for the report.
Can you give me the contents of the composer.json? (you can remove confidential information)

[2022-02-07 17:06] filipagh opened #305 "Symfony FileLocatorFileNotFoundException"
## Describe the bug

after resolve of this [issue](https://github.com/composer-unused/composer-unused/issues/284) test on `dev-main` result to this error

[code]

[2022-02-07 19:03] icanhazstring commented on #305
Can you give me some more information?

- php version
- composer.json (content)

[2022-02-07 19:32] filipagh commented on #305
PHP 8.0.14

<details>
  <summary>composer.json</summary>

[code]

</details>

[2022-02-07 19:54] icanhazstring commented on #305
Thanks will try and check what is going on 👍

[2022-02-07 22:34] jkowalleck commented on #287
@icanhazstring , I had a look at it.
Dont think the [matcher](https://github.com/composer-unused/symbol-parser/blob/main/src/Symbol/NamespaceSymbol.php#L29) is broken, but the input to the matcher.

in a setup like this
[code]
i would expect to see the following symbols  as input to the matcher.
* `B\NS\MyClass`
* `My\NameSpace\Bar`
* `Other\Namespace\Baz`

instead i am seeing the following symbol

[2022-02-08 06:38] icanhazstring commented on #287
You are correct as I do use multiple strategies to extract symbols. Here you are encountering 3 of them.

- UseStrategy
- ExtendsStategy
- ImplementsStrategy

All of which result in a slight different symbol. But will give you some better information when I clam back home.

[2022-02-08 09:14] #290 closed

[2022-02-08 09:16] icanhazstring commented on #284
@ro0NL the pathing issue with `eo/honeypot-bundle` should be fixed now in `dev-main`

[2022-02-08 12:05] icanhazstring commented on #305
Ok found the issue. Fix incoming :)

[2022-02-08 12:11] icanhazstring commented on #305
Fixed with latest `dev-main`

[2022-02-08 12:11] #305 closed

[2022-02-08 12:16] icanhazstring commented on #287
Ok, so working with your code and this test you get the correct result which I am working with:

[code]

This results in these symbols.
[code]

[2022-02-08 12:28] filipagh opened #307 "Config name accessed but not inicialized"
## Describe the bug
`dev-main`
after this [issue](https://github.com/composer-unused/composer-unused/issues/305)
[code]

[2022-02-08 12:30] icanhazstring commented on #307
Duplicate to #300.
You `composer.json` config is not valid.

[2022-02-08 12:32] #307 closed

[2022-02-08 20:43] jkowalleck commented on #287
this is an assumption that can be stretched.

having FQN at all times is the key to the solution, no matter how many they are. right?

[2022-02-08 20:45] icanhazstring commented on #287
Yes would be. As the strpos solution of the matcher should work properly then. Also it will cut execution time immense if there are fewer symbols to check.

[2022-02-09 09:58] beeyev opened #311 "Config::$name must not be accessed before initialization"
When I run the tool with this command
`composer-unused --no-progress --excludeDir=bin --excludeDir=config`
I receive this error
[code]
It looks like this issue
https://bugs.php.net/bug.php?id=79620

PHP 8.1, composer-unused is the latest

[2022-02-09 09:59] icanhazstring commented on #311
Duplicate #307

[2022-02-09 19:08] filipagh opened #312 "File is not correctly process"
## Describe the bug
expected symbol `HTMLPurifier` is not find (visitor traverse) result in null for symbols

lib   `ezyang/htmlpurifier`

[code]

## Additional information
If you encounter environment problems, such as memory limit, provide some information
about your `php -i`

[2022-02-09 19:35] filipagh commented on #312
also `PrestaShopWebservice` for `prestashop/prestashop-webservice-lib`

[code]

[2022-02-09 19:43] icanhazstring commented on #312
This is because right now. A lib is only parsed as "symbol provider".

This way only function, const and class definitions are parsed. Consumed symbols like the mentioned are not parsed right now. This will be added in a alter feature related to #235

[2022-02-09 21:05] #311 closed

[2022-02-10 08:28] ArtemGoutsoul commented on #303
In our case we have a few custom autoloaders that don't show up in composer, that load more files.

So the dir structure is like this:
- project/lib/composer.json
- project/lib/vendor/ <- composer vendor directory
- project/lib/Firm/ <- some internal composer autoloaded classes
- project/lib/...../ <- more internal cclasses
- project/project_app/  <- more stuff here

So basically even though compo

[2022-02-10 08:35] icanhazstring commented on #303
Seems like a problem with the relative paths going up in the folder hierarchy.
Will check on that.

In the meantime you can try to use the `additionalFiles` configuration (see readme)

[2022-02-10 19:41] scyzoryck opened #313 "`InvalidDependency` cannot be mark as used."
First of all - thanks for the tool - it is really useful and helpful to keep composer.json without not needed dependencies :)

## Describe the bug

It looks like script execution will finish with fatal error when we have invalid dependency, but another (valid one) depends on it. Then  script is trying to mark it as used, but there is no such method in `InvalidDependency` class.

## Additional info

[2022-02-10 20:34] icanhazstring commented on #313
I. Thanks for the report.
The `InvalidDependency` class is no longer present as of `dev-main`

I will release a new version so.
In the meantime you can try if you problem still persists with when using the dev branch. 😉

[2022-02-10 21:39] scyzoryck commented on #313
Hi! Thank you for quick answer :)

I've tried to test with main version, but it looks like it dropped support for packages installed via composer 1.x - due to missing `vendor/composer/installed.php` file - that has been added in composer 2.0. I will try to update repo to composer 2.x first and rerun the tests.

Stack trace:
[code]

[2022-02-10 22:52] icanhazstring commented on #313
As composer 1.1 is not maintained anymore. Yes. composer-unused requires composer 2 :)

[2022-02-12 14:39] agustingomes commented on #293
@icanhazstring I fixed this particular issue upstream in the PR https://github.com/composer-unused/symbol-parser/pull/25

[2022-02-13 19:49] icanhazstring commented on #303
Hi @ArtemGoutsoul I added a testcase checking of there is something off. But then test is green, so I can't reproduce your current problem.

https://github.com/composer-unused/composer-unused/commit/b6cf2e43c753ddef616d6958d2628db165c72f59

Can you try and setup a minimal project where you can replicate this issue?

[2022-02-14 10:49] scyzoryck commented on #313
I've tested with newest `main` branch - the initial issue is resolved, so I think we can close the issue. :)

I've found some weird issue with composer (?) - it looks like `install_paths` are missing in `installed.php`, but paths are saved in  `installed.json`. I need a deeper look at it - as it might be connected with fact that the dependencies was initially installed via composer1.

[2022-02-14 11:00] icanhazstring commented on #313
@scyzoryck thanks for checking. I will close this issue then.
If there is another one happening, don't hesitate to create another issue :)

[2022-02-14 11:00] #313 closed

[2022-02-15 14:15] ArtemGoutsoul commented on #303
Thanks for checking it out @icanhazstring! It seems like a cool project so I wanted to give it a try. Our codebase is large and somewhat weirdly structured, so some tools behave weirdly with it :)

I'll try to reduce the test case, but I'm not sure when I manage yet.

[2022-02-15 20:19] icanhazstring commented on #293
Fixed with https://github.com/composer-unused/symbol-parser/pull/25 and covered with #294

[2022-02-15 20:19] #293 closed

[2022-02-15 20:20] icanhazstring commented on #312
Can you describe more about what you are expect to happen?

[2022-02-16 06:50] jkowalleck commented on #287
this change is too complex for me, at the moment. requires to much reading into existing code and re-thinking some already implemented concepts.
meaning: will not implement a "fix" as it requires a design change. stopped working on this issue.

[2022-02-16 07:48] icanhazstring commented on #287
OK. Thanks anyway for trying and sparing about. Will then take over 👍

[2022-02-16 08:07] simPod opened #315 "False positive unused `cdn77/test-utils`"
## Describe the bug
I'm using `cdn77/test-utils` in tests (psr-4 dev-autoloaded)

[code]

`composer-unused` says it's unused.

## Additional information

v0.8.1

[2022-02-16 08:10] simPod opened #316 "False positive unused `php-http/logger-plugin`"
## Describe the bug
I'm using `php-http/logger-plugin` in my project. Basically the same usage as in docs https://docs.php-http.org/en/latest/plugins/logger.html, directly instantiated.

`composer-unused` says it's unused.

## Additional information

v0.8.1

[2022-02-16 08:12] simPod opened #317 "False positive unused `phpoffice/phpspreadsheet`"
## Describe the bug

I'm using `phpoffice/phpspreadsheet` in my project. I have clear use statements as:

[code]

`composer-unused` says it's unused.

## Additional information

v0.8.1

[2022-02-16 08:12] icanhazstring commented on #315
Hi @simPod.
Currently `require-dev` dependencies are not checked, as they should not be deployed to production.

So no need to see if there are used or not 😉

Or did I misunderstood something?

[2022-02-16 08:13] icanhazstring commented on #317
Thanks. Will check on that.

[2022-02-16 08:13] icanhazstring commented on #316
Will check. Thanks.

[2022-02-16 08:15] simPod commented on #315
I'd also like to know about zombie dev dependencies from my project even though it's not production threatening 🙃  🧹

[2022-02-16 08:25] icanhazstring commented on #315
Good point. Would you like to suggest a new feature request issue? 😉

So maybe a flag cli option which will enable dev dependency scan as well.

[2022-02-16 08:29] simPod commented on #315
🤔 should I create new issue?

Depends what was the reason for excluding it in the first place, can tell. E.g. I expected it to be scanned by default.

[2022-02-16 09:09] icanhazstring commented on #315
Problem with most dev dependencies is that they will mostly contain glue code which is not be able to be scanned or anything.

So enabling this by default will cause many users to have reports of many unused dependencies. So an optional flag will be the right way.

The initial idea was to avoid unused code in production to avoid security risks with unmaintained packages.

--
So yes, just create a

[2022-02-16 09:33] icanhazstring commented on #317
Related to: #316

[2022-02-16 09:33] icanhazstring commented on #316
Found the issue. Fix coming :)

[2022-02-16 09:39] #316 closed

[2022-02-16 09:40] icanhazstring commented on #317
Fixed with #318

[2022-02-16 09:40] #317 closed

[2022-02-16 10:37] simPod commented on #315
👌🏾

[2022-02-16 12:49] simPod commented on #315
🤔 so I was thinking, why is dev dependency reported if dev-autoloaded sources are excluded?

[2022-02-16 13:03] simPod commented on #315
Yup I explicitly went to check it a few moments ago that it sits in dev requirements section.

[2022-02-16 13:08] icanhazstring commented on #315
Because I tried to reproduce it. And everything seems fine if my source code is using it. Everything is reported as used.
Especially if it is in `require-dev` the package is not even scanned.

I couldn't find a way to replicate the issue. Can you maybe setup a small repo replicating the exact problem so I can check against? Thanks.

[2022-02-16 13:29] simPod commented on #315
Ok I'll try to isolate the issue.

[2022-02-16 21:06] #287 closed

[2022-02-16 22:09] icanhazstring commented on #287
Fixed in `dev-main` will be included in next release

[2022-02-17 10:21] simPod opened #320 "Progress bar missing"
## Describe the bug
Is there a progress bar in v0.8? When I run the tool I see none.

(Also `-vvv` produces no output)

[2022-02-17 10:22] icanhazstring commented on #320
Damn 🙈

I totally removed this one due to the restructuring of the code. Will add it again. Sorry for that 😄

[2022-02-17 12:11] simPod commented on #315
Ok I'm dumb, it was in require, not dev :/ I looked into wrong project I guess.

[2022-02-17 12:11] #315 closed

[2022-02-17 12:13] simPod opened #321 "v0.8 is much slower than v0.7"
## Describe the bug

Not sure if this is classified like a bug but v0.8 is like n-times slower than v0.7.

I know there have been some changes in underlying code parsing, just though you might know this.

## Additional information
E.g. the slow down can be seen when having a lot of symfony packages

[code]

[2022-02-17 12:58] icanhazstring commented on #321
Hi. Thanks yes. I noticed that as well.
This comes more or like down to the way I parse packages.
Previously not everything could be parsed to the number of files almost doubled (if not more).

I still want to do some performance analysis to further improve the performance.
But for now, I am more down to handling errors and finding issues more easily.

After that, I will for sure look into improvi

[2022-02-17 23:57] melihovv opened #323 ""Dependency can't be located. Maybe not installed?" for all deps after upgrade to 0.8.1"
## Describe the bug
We have the following structure in our project
[code]

After upgrade to 0.8.1 when I run composer-unused I get the following output
[code]

## Additional information
Our composer.json
[code]

[2022-02-18 07:34] icanhazstring commented on #323
Hi. Thanks for reporting. What version of composer are you using?

composer-unused is only working with v2 as I need the `vendor/composer/installed.php` to be present to get the proper install paths of dependencies.

[2022-02-18 08:42] icanhazstring commented on #323
But looking at your project structure it might also be, that the path to the installed.php is used from <projectroot>/tools/vendor instead of <projectroot>/vendor

[2022-02-18 08:46] scyzoryck commented on #323
I had the same with usage od composer 2.0.x. updating composer to newer version solved the issue. For composer 2.0.x the package path was not added to installed.php file.

[2022-02-18 08:51] icanhazstring commented on #323
@scyzoryck composer should be in version 2.2 by now, or at least 2.1.9. As versions before do have security issues.

[2022-02-18 09:20] melihovv commented on #323
My composer version was 2.0.13, I upgraded it to 2.2.6, but nothing changed
Also I see both <projectroot>/vendor/composer/installed.php and <projectroot>/tools/vendor/composer/installed.php

[2022-02-18 10:18] scyzoryck commented on #323
@melihovv have you tried reinstalling vendors with new composer? Could you check if  `install_path` keys has been created in your `<projectroot>/vendor/composer/installed.php` file? :)

[2022-02-18 10:24] melihovv commented on #323
@scyzoryck thanks, it works after reinstall :)

[2022-02-18 10:24] #323 closed

[2022-02-20 21:31] icanhazstring commented on #321
@simPod can you try current `dev-main` again against your project and compare execution time?
I merged some performance improvements by @scyzoryck which, according to profiling should improve performance quite a bit :)

[2022-02-21 07:24] simPod commented on #321
Much faster, gj both

[2022-02-21 07:41] icanhazstring commented on #321
Kudos goes to @scyzoryck. I just clicked merge 😉

[2022-02-21 09:07] scyzoryck commented on #321
You are welcome! ;-)

[2022-02-23 20:02] lcobucci opened #326 "False positives after using `readonly` modifier"
## Describe the bug

I'm changing one of my libs to require and use features from PHP 8.1.
After the [commit that introduces the `readonly` modifier](https://github.com/chimeraphp/routing/pull/289/commits/20b517f898d9d61ae211cad198e2849bffa4dd20), composer-unused started to report false positives.

I'm ignoring it for now but it might be good to investigate the cause :+1:

[2022-02-23 20:18] icanhazstring commented on #326
Thanks for the report. I do actually have one task open an upstream library symbol-parser where I need to cover typed properties as well.

So seems like the tokenzier for readonly properties will have a different structure which I need to cover differently.

I will investigate it further down the line. Thanks for bringing it up 👍

[2022-02-25 16:01] MGatner opened #328 "Bug: GitHub Output Not Applying Locally"
*See https://github.com/composer-unused/composer-unused/discussions/272#discussioncomment-2252393*

## Describe the bug
Supplying the `--output-format=github` argument in a local CLI does not apply GitHub formatting. Could be that `CiDetector` is overriding the argument?

## Additional information
Version: Latest `main` (c0a316db24f65f1cdfe5a39dbbfa84f3c087b5b2)
PHP:
[code]
OS: Ubuntu 20.04

[2022-02-25 16:08] icanhazstring commented on #328
Thanks. Will check asap 👍

[2022-02-27 09:20] mmenozzi opened #329 "setAdditionalFilesFor not working (or maybe I didn't understand)"
## Describe the bug

[Here](https://github.com/mmenozzi/Sylius-Standard/commit/acd54bcca41c0b4a3f0d665aa27cd80e63912e03) I'm trying to introduce `composer-unused` on [Sylius/Sylius-Standard](https://github.com/Sylius/Sylius-Standard). There are dependencies like `sylius/paypal-plugin` or `symfony/dotenv` that are not used in `src/` but in  `config/bundles.php` or `config/bootstrap.php` files. So I

[2022-02-27 09:55] icanhazstring commented on #329
Hi. Thanks for asking. If those packages are "used" in paths outside your projects autoload you need to configure those additional paths for your project.

So the correct way would be to add an array of those two files with your projects name.

This way these files will be scanned in addition to your autoload configuration.

[2022-02-27 10:09] mmenozzi commented on #329
Hi @icanhazstring, thank you for your quick reply.

Do you mean that I should add those config/bundles.php and config/bootstrap.php files to the autoload.files section of the composer.json?

If this is the case, what is the reason for the setAddidionalFilesFor in the configuration?

[2022-02-27 10:42] icanhazstring commented on #329
You can use it the same way I did with composer-unused here:

[code]

Use your projects name from `composer.json` to add additional places to scan.

The disadvantage is using composer autoload for libraries or even projects is that you don't want those files to be autoloader all the time.

Also some libraries do this on purpose because the will change some behavior of existing functions. So the co

[2022-02-27 11:23] mmenozzi commented on #329
So I have to use sylius/sylius-standard instead of sylius/paypal-plugin and symfony/dotenv in my configuration?

[2022-02-27 11:35] icanhazstring commented on #329
Yes. And you have to combine both files into a one `setAdditionalFiles` call.

[2022-02-27 16:39] mmenozzi commented on #329
Yes now [it](https://github.com/Sylius/Sylius-Standard/runs/5351262256?check_suite_focus=true#step:16:1) works! Thank you very much!

[2022-02-27 16:39] #329 closed

[2022-02-27 17:35] icanhazstring commented on #329
Nice 🙂
BTW the `-o github` is not really necessary as the implementation will autodetect github CI to change output.

[2022-02-27 17:36] mmenozzi commented on #329
Ah ok thank you!

[2022-03-01 22:50] jkowalleck commented on #287
this will be the one after 0.8.1, right?

[2022-03-07 13:41] #328 closed

[2022-03-09 17:54] icanhazstring commented on #326
I have updated upstream `composer-unused/symbol-parser`.
Could you test again `dev-main` of the problem persists?

https://github.com/composer-unused/composer-unused/commit/9035d58f389282d218f68ec9b4b97b9f843e6184

[2022-03-09 17:55] icanhazstring commented on #328
Should be fixed in dev-main :)

[2022-03-11 07:15] jkowalleck commented on #287
this will be the one _after_ 0.8.1, right, @icanhazstring ?

[2022-03-11 07:25] icanhazstring commented on #287
Correct. 0.8.2 should be coming soon 😉

[2022-03-14 10:28] lcobucci commented on #326
@icanhazstring sorry about the delay.

I've built the `phar` using the latest commit and it indeed solved the issue, thanks :+1:

[2022-03-14 10:47] lcobucci commented on #326
Could you use https://github.com/chimeraphp/routing?
Removing the ignored package makes `composer-unused` report the false positive https://github.com/chimeraphp/routing/blob/1.0.x/composer-unused.php#L8

As you can see on https://github.com/chimeraphp/routing/blob/1.0.x/src/Handler/ExecuteAndFetch.php#L9 that package is used and removing the `readonly` modifier from both properties makes `compose

[2022-03-14 11:21] icanhazstring commented on #326
Got it. Will check

[2022-03-14 17:20] icanhazstring commented on #326
One thing came to mind. Either the PHP_VERSION constant is not correct inside the phar and he is assuming php7. Or the execution runtime of the phar is not correct.

Can you check if you are running a php8.1 execution for the phar?

Because depending on that, the correct lexer ist used to parse the code.

[2022-03-14 19:48] lcobucci commented on #326
I've built the phar using the `php8.1` service provided in this repo and ran the phar using PHP 8.1.

I've just changed the file in the `bin` folder to print `PHP_VERSION`, here's the output (check the first line):

[code]

[2022-03-17 08:26] Jean85 opened #337 "False positives with php-http/* packages"
## Describe the bug
I have a small project where I leverage HTTPlug packages to stay agnostic about HTTP clients. I recently bumped the minimum requirement from `^7.2` to `^7.4`, and bumped `composer-unused` from `^0.7` to the latest version, `^0.8.1`.

It now reports false positives against all `php-http/*` packages:
[code]
Despite having this piece of code that would (at the very least) remove `

[2022-03-17 08:44] Jean85 commented on #337
I'm trying to debug it further, and it seems that `\ComposerUnused\ComposerUnused\Composer\Package` doesn't contain any autoload information, despite reading from packages with correct PSR-4 configurations: https://github.com/php-http/discovery/blob/98ead1fe1c3af88bd65d927b8bbc9fdf1ae83423/composer.json#L26-L29

FTR, I also updated to Composer 2.2.7. I'll debug further.

[2022-03-17 08:54] Jean85 commented on #337
Ok this seems already fixed in #318. Closing as duplicate of #316.

[2022-03-17 08:54] #337 closed

[2022-03-17 08:57] icanhazstring commented on #337
Nice, thanks for still digging into it :)
Hopefully helpful for others who stumble upon this.

Also release coming soon which fixes this as well.

[2022-03-21 11:43] icanhazstring opened #338 "symfony/dependency-injection not working with php7.4"
Thanks to usage of `str_contains`. The phar can't be used with php7.4 right now.
Need to figure out how to avoid this error.

[2022-03-21 19:58] #338 closed

[2022-03-21 19:58] icanhazstring commented on #338
Solved with #339

[2022-03-22 10:53] LucaGallinari opened #340 "Phar not autoloading classes properly on 0.8.2"
## Describe the bug
I am not able to run the phar file on 0.8.2 but it works with 0.8.1.
It gives this error:

[code]

So, it's probably an autoloading problem.

## Additional information
I am running php 7.4
I have the phar file in the /usr/local/bin folder
I have a custom composer-unused.php file with the following content:
[code]

This is probably due to https://github.com/composer-unused/compo

[2022-03-22 11:21] icanhazstring commented on #340
Thanks for the report. Let me check

[2022-03-22 12:15] #340 closed

[2022-03-22 12:52] icanhazstring commented on #340
I have re-released the phar. Should be fixed now :)

[2022-03-22 13:08] LucaGallinari commented on #340
Ok now i works! Thanks

[2022-03-22 14:46] icanhazstring opened #342 "Empty namespace in psr-4/0 will lead to error"
## Describe the bug
Using the namespace fallback from `composer.json` where you can use an `""` as namespace produces an error in
https://github.com/composer-unused/composer-unused/blob/main/src/Command/Handler/CollectConsumedSymbolsCommandHandler.php#L59

We need to validate empty strings as well, maybe even skip them.

## Additional information
https://getcomposer.org/doc/04-schema.md#psr-4
http

[2022-03-23 09:23] lazka opened #345 "PHP Fatal error: Uncaught Error: Typed property"
## Describe the bug

I upgraded from 0.7.x to the latest version, and I now get this:

[code]

## Additional information

Using PHP 8.1.3 on Ubuntu

I've downgraded to 0.7.11 again, which works fine.

[2022-03-23 09:26] icanhazstring commented on #345
Hi. Adding a `name` property to your `composer.json` should fix this.

[2022-03-23 09:38] lazka commented on #345
Ah, thanks, that's it :)

Maybe it should not fail if it is missing?

[2022-03-23 09:43] lazka opened #346 "0.8.x: detects various used packages as unused"
* git clone https://github.com/api-platform/api-platform
* cd api-platform/api
* composer install
* (add name in composer.json, see #345)
* composer-unused

Expected:

Marks all packages that provide classes referenced in `config/bundles.php` as used

Actual:

They are all marked as unused.

For example: `doctrine/doctrine-migrations-bundle` or `symfony/monolog-bundle`

This used to work with 0.7.

[2022-03-23 09:47] icanhazstring commented on #345
I will improve the behavior in the future. Yes :)

[2022-03-23 09:47] #345 closed

[2022-03-23 09:49] icanhazstring commented on #346
You need to configure additional places to be parsed using a custom configuration file.
In 0.7.x I scanned the whole directory beside the `composer.json` this had some advantages, but also a lot of drawbacks.

With 0.8.x composer-unused will primarily scan `composer.json` autoload directives first.
If you have any other file that uses dependencies outside this autoload scope, you need to configure

[2022-03-23 09:50] icanhazstring commented on #321
Think we can close this for now @simPod?

[code]

[2022-03-23 09:55] lazka commented on #346
I see thanks, that wasn't really clear from reading the changelog. A Symfony example might be useful in the docs (/bin and /public also contain code)

[2022-03-23 10:07] icanhazstring commented on #346
Will add something in the docs. Thanks :)

[2022-03-23 11:05] simPod commented on #321
Yes, it is good enough now. Thanks!

[2022-03-23 11:05] #321 closed

[2022-03-24 10:40] gemal opened #347 "Undefined property: __ComposerUnused__\PhpParser\Node\Expr\Variable::$value"
`Notice: Undefined property: __ComposerUnused__\PhpParser\Node\Expr\Variable::$value in phar://app/composer-unused.phar/vendor/composer-unused/symbol-parser/src/Parser/PHP/FileInclude.php on line 24`

when I run `php composer-unused.phar`

[code]

[code]

[2022-03-24 11:14] icanhazstring commented on #347
Hi. Thanks for the report.
Since this is a PHP Parser problem it is hard to tell what went wrong.

Can you isolate the problem to a certain dependency or your own code?

[2022-03-24 11:18] icanhazstring commented on #347
This probably has to do something with `require` or `include` (also l the `_once` variation) and a concatenation of the path.

[2022-04-04 09:39] tomasnorre opened #350 "composer-unused.phar - PHP Fatal error: Uncaught Error: Typed property"
## Describe the bug

I have just downloaded the latest composer-unused.phar file

[code]

When I run the command, I get an error instantly.

[code]

## Additional information

I'm on PHP 7.4.28 so should be a compatible PHP version according to composer.json of the `main` branch.

Let me know if you need any additional information, or help testing etc.

[2022-04-04 10:00] tomasnorre commented on #350
This is the output with PHP 8.0.17

[code]

[2022-04-04 11:19] icanhazstring commented on #350
Hi @tomasnorre. Probably your `composer.json` is missing the `name` property.

Try adding it for now. I will try and improve the error or even support to make it optional. But right now it is a needed value.

[2022-04-04 11:27] tomasnorre commented on #350
Doh.. My bad, didn't think of checking with `composer validate`, as everything else worked like expected.

Sorry. But thanks for your help, it works now.

[2022-04-04 12:38] icanhazstring commented on #350
Yeah, for `composer` the `name` is only mandatory for libraries which a published using packagist

[2022-04-29 12:53] vudaltsov commented on #326
Any updates on this issue?

[2022-05-05 11:38] rooselle commented on #346
I have same problem. With version 0.7 no package is marked as unused, even if for example symfony/mailer isn't used anywhere (and it isn't a requirement of any dependency). And with latest version, almost all Symfony packages are marked as unused.

I tried modifying the config with example file you gave, but that doesn't change anything (I tested a NamedFilter on one of the packages to be sure the

[2022-05-05 13:19] icanhazstring commented on #346
Can you give me a small reproducible repository where I can test this to see what is going wrong?

[2022-05-05 13:27] lazka commented on #346
[code]

[2022-05-05 14:09] icanhazstring commented on #346
@lazka doing this will result in unused dependencies which is totally fine. As there are no source PHP files that are using these dependencies.

[2022-05-18 09:11] simPod commented on #326
FYI I'm not using PHAR but composer dev dep as `icanhazstring/composer-unused` and have the same issue so it's not the PHAR issue I believe.

[2022-05-25 08:16] Jean85 opened #358 "Support for Symfony 4.4 is broken"
## Describe the bug
Support for Symfony 4.4 is broken, probably because there's no `--prefer-lowest` CI job to check it. Main stopper for now is this one:

## Additional information
`service()` function is a rename of the previous `ref()` function in Symfony DI PHP DSL, introduced in 5.1: https://github.com/symfony/symfony/commit/366405b93d670555079605422c5fd05cda23ee08

[2022-05-25 08:20] icanhazstring commented on #358
Thanks for the report.

This particular problem might be fixable using `methods_exists` on the `$configurator` in `config/services.php`.
So that symfony 4.4 for that part is working.

Other than that, a build with `--prefer-lowest` should be added :)

[2022-05-25 10:46] #358 closed

[2022-05-30 11:02] filipagh commented on #312
i expect that `HTMLPurifier_Config` and `PrestaShopWebservice` will mark its packages as used.
if https://github.com/composer-unused/composer-unused/issues/235 will fix it then you can close issue

[2022-05-31 14:51] samuelnogueira opened #366 "Call to undefined function Symfony\Component\DependencyInjection\Loader\Configurator\service()"
## Describe the bug
With the following `composer.json`:
[code]
plus lowest dependencies:
[code]
composer-unused fails with:
[code]

## Additional information
[code]

[code]

[2022-06-06 17:28] icanhazstring opened #369 "Check support for readonly classes"
As of php-parser 4.14 support for readonly classes was added. Check if packages are marked used for provided `readonly` class symbols and add test cases for that.

[2022-06-21 15:18] stof opened #373 "Exception for an unknown extension even though the platform config is used to force consider it is there"
## Describe the bug
My project has a requirement on `ext-tideways` (making heroku install that extension in all production and staging environments) but my project also has `config: {"platform": {"ext-tideways": "1.0.0"}}` to force composer to consider ext-tideways as available during resolution (even though we don't install it in our dev environments).
When running the composer-unused phar, this

[2022-06-26 09:21] icanhazstring commented on #373
Hi @stof Thanks for the report.
Composer-unused currently doesn't consider platform configs.

Even if it can, it can only consider this dependency as ignored because I can't infer the symbols if the extension is not installed.

So for now you should ignore it using the tools config. Later on I might add it automatically to ignore if it's in platform config and can't be loaded.

[2022-06-27 08:17] stof commented on #373
@icanhazstring how can I exclude it using the tool config ? As you can see, I tried using `--excludePackage` and this did not remove the error when trying to load symbols.

[2022-06-28 07:31] OskarStark commented on #346
Hi,

I am facing the same issue, this is my config before in composer.json
[code]

Now I switched to `composer-unused.php` with:
[code]

What else do I need to add for a Symfony project? As this is my result now:
<img width="1095" alt="CleanShot 2022-06-28 at 09 30 52@2x" src="https://user-images.githubusercontent.com/995707/176120031-9072e8c2-4910-4b3e-8af8-c32e16ddec2f.png">

Thanks for your hel

[2022-06-28 07:43] icanhazstring commented on #346
@OskarStark yes. Zombies are exclusions you configured but did not match any package your are using.

So just to clarify. You haven't had that many unused packages before updating to new version right?

What you can do as well, is adding additional paths to be scanned as well. The main difference between 0.7 and 0.8 is that 0.7 scanned the whole directory of you project, leading to haywire problem

[2022-06-28 07:45] OskarStark commented on #346
Yes

Understand 👍

That totally makes sense, but can you make an example? I mean how to scan those directories. AFAIK when using `setAdditionalFilesFor(...)` method, I need to provide a dependency/package 🤔

[2022-06-28 07:46] OskarStark commented on #346
I did this:
[code]

But Do I need to add the glob for every dependency where it is used?

[2022-06-28 07:48] OskarStark commented on #346
I tried
[code]

Which works and now `symfony/process` is not unused anymore

[2022-06-28 07:48] icanhazstring commented on #346
Your application also counts as "package". It's the root package actually. So you have to use the "name" from your composer.json

[2022-06-28 07:49] OskarStark commented on #346
AH that's the trick!

[2022-06-28 07:52] OskarStark commented on #346
So this should work, right?
[code]

[2022-06-28 07:53] icanhazstring commented on #346
Should work, yes 😉

[2022-06-28 07:57] OskarStark commented on #346
Unfortunately I get the same result :-(
<img width="676" alt="CleanShot 2022-06-28 at 09 57 27@2x" src="https://user-images.githubusercontent.com/995707/176125549-677cd065-646c-4a14-bb23-d96fc3f1b44e.png">

[2022-06-28 07:59] OskarStark commented on #346
I pinged you on Slack 😄

[2022-06-28 10:20] simPod commented on #346
Ok my issue is related to https://github.com/composer-unused/composer-unused/issues/326 I guess.

[2022-07-07 15:03] tegbessou opened #378 "Ignore exit code option doesn't work"
## Describe the bug
Hello, I think the `--ignore-exit-code` doesn't work anymore because, in the `UnusedCommand`, I can't find a mention of it except for as an attribute.

I hope you can fix this when you have some time.

Thank you, and have a good day

[2022-07-07 15:25] icanhazstring commented on #378
Thanks for the report. Will see to it ASAP.

[2022-07-13 14:27] AndreasA opened #381 "New composer platform dependency (since composer 2.2) not detected"
## Describe the bug
Since composer 2.2 it is now possible to target the composer version directly using the `composer` platform dependency.

See https://getcomposer.org/doc/articles/composer-platform-dependencies.md#composer-package-composer

However, it is not yet added to the always used packages https://github.com/composer-unused/composer-unused/blob/0.8.2/src/Filter/FilterCollection.php#L22 an

[2022-07-13 17:31] icanhazstring commented on #381
Good point. Feel free to add a PR with some Tests. Happy to merge it 🙏👍

[2022-08-08 20:53] intel352 opened #384 "DI leading to error"
## Describe the bug
Installed composer-unused, immediately ran into error. This is in a PHP 7.4 docker instance.

## Additional information
[code]

[2022-08-09 14:41] intel352 commented on #384
@icanhazstring Looks like the symfony `service()` polyfill wasn't added until May 25, but the last release was Mar 22, so the `service()` fix isn't included.

[2022-08-09 15:09] icanhazstring commented on #384
Thanks for the report and check. Let me publish a new release with it 😊

[2022-09-19 10:24] icanhazstring commented on #346
If this is a missing source for your app. You need to pass in the name of your app along with the paths you want to add.

[2022-09-20 09:44] #381 closed

[2022-09-30 12:07] icanhazstring opened #394 "Add more information about symfony specific use cases"
Right now its possible that composer-unused might report certain symfony packages as unused.
This comes down to the fact that symfony uses several other way to place `.php` files.

For example:
- `public/`
- `var/cache/`
- `config/`

To kind of mitigate unused packages we can add a part in the [README.md](README.md) to add some information.

[code]

[2022-09-30 12:11] icanhazstring opened #395 "Package marked as used by "required-by" even if other package is unused"
Seems like `composer-unused` is marking a package as `used` (with required-by) even if the other packages requiring the first one is marked as `unused`.

Current output:
[code]

Expected output:
[code]

[2022-10-04 05:27] #378 closed

[2022-10-04 08:10] samsonasik opened #397 "Don't report Github output when package ignored"
## Describe the bug

In rector-src, the composer-unused is added with ignore `rector/*` prefix:

[code]

However, in github view files, it show the github output notice:

![Screen Shot 2022-10-04 at 15 09 56](https://user-images.githubusercontent.com/459648/193768164-f7d9a206-6cc1-4563-9147-3b3c4fa50a50.png)

I think it should not be shown when it already ignored.

[2022-10-04 08:25] icanhazstring commented on #397
Yes, you are correct. This is clearly a bug and should be checked in the `GithubFormatter`.

Also, there might be an issue with the `partition` from unused to ignored dependencies here:
https://github.com/composer-unused/composer-unused/blob/main/src/Console/Command/UnusedCommand.php#L228-L242

This should remove ignored packages from unused ones, so they actually should not be printed out by the

[2022-10-04 08:28] icanhazstring commented on #397
On the other hand. I think ignored packages should not be `warning` level output 🤔
Don't know what might be the best solution here.

Remove the output altogether for github actions, or mark it as `info`?
What do you think?

[2022-10-04 08:33] samsonasik commented on #397
I don't know what the right solution is, on console output, showing list of ignored package seems ok, but I think it should not be shown in github view files output tab

[2022-10-04 09:38] samsonasik commented on #397
@icanhazstring it seems resolved by using `--output-format default` so it does not appear on github view files, ref https://github.com/rectorphp/rector-src/commit/f8e42e16e1f153548d727bda550330ceeca223a5#r85780390

[2022-10-04 09:38] #397 closed

[2022-10-04 10:14] icanhazstring commented on #384
Should be solved in `0.8.3`

[2022-10-04 10:14] #384 closed

[2022-10-04 10:18] icanhazstring commented on #346
As we did more improvements about how additional packages/folders are scanned, I am closing this issue for now, as it accumulates multiple different issues right now.

If you have a specific problem still unsolved, feel free to open a new issue.

[2022-10-04 10:18] #346 closed

[2022-10-04 10:18] icanhazstring commented on #326
@lcobucci can you check again with `0.8.3` as we added a fix for lexer so that readonly should work now.

[2022-10-04 10:19] #326 closed

[2022-10-04 10:21] icanhazstring commented on #37
No active need right now.

[2022-10-04 10:21] #37 closed

[2022-10-04 10:22] #350 closed

[2022-10-04 10:26] icanhazstring commented on #397
But be aware, that "finding" errors (unused dependencies) now requires you to open the build log for that action. So it might be a little inconvenient :)

[2022-10-04 10:33] icanhazstring opened #399 "Only produce Github action output for cases that result in exitCode > 0"
## Describe the bug
Right now, it happens that ignored packages are actually emitting a `warning` log state for `composer.json` when a package is being ignored while running a github action.

This should not happen, as ignore packages do not count towards an exitCode > 0.
https://github.com/composer-unused/composer-unused/blob/main/src/OutputFormatter/GithubFormatter.php#L57

## TODO
- [x] simple

[2022-10-04 10:34] icanhazstring commented on #399
Ref #397

[2022-10-04 17:55] ayushthe1 commented on #399
Hey ,i would like to contribute to this issue but currently im a beginner to open-source and don't know anything about github actions .Could you please guide me to solving this issue ,if u think its possible for me to do at this stage.

[2022-10-05 07:30] icanhazstring commented on #399
Hi @ayushthe1 welcome aboard :)
Let me give you some hints what needs to be done:

1. The message here should be `%s was ignored` https://github.com/composer-unused/composer-unused/blob/main/src/OutputFormatter/GithubFormatter.php#L56
2. There should be no `::warning` in front of the message itself, so it just gets written out into the log https://github.com/composer-unused/composer-unused/blob/ma

[2022-10-05 07:39] ayushthe1 commented on #399
Thanks ,i will look into all the resources you provided.

[2022-10-05 18:09] ayushthe1 commented on #399
@icanhazstring Hey i fixed the first 2 points that you mentioned and also created a directory `GithubFormatterTest` directory in `OutputFormatter` directory . But i dont know how to write unit tests ,could you please help me with it .

[2022-10-05 19:45] icanhazstring commented on #399
Sure thing.

You can take a look at the test here:
https://github.com/composer-unused/composer-unused/blob/main/tests/Unit/OutputFormatter/JsonFormatter/JsonFormatterTest.php

What you need to do, is to
1. Create the service you want to test, in this case the `GithubFormatter`
2. You want to create a collection for "ignored packages"
   - for example you can create one using

[code]
    - this one

[2022-10-05 19:59] ayushthe1 commented on #399
Thanks ,i will look into this.

[2022-10-05 20:16] #373 closed, assigned to nobody

[2022-10-05 20:16] icanhazstring commented on #373
Should be working with next tagged version.

[2022-10-06 07:22] #369 closed

[2022-10-07 13:01] lcobucci commented on #326
@icanhazstring just tested, works like a charm. Thanks!

[2022-10-07 13:07] simPod commented on #326
Yes, much awesome!

[2022-10-07 13:25] #94 closed

[2022-10-07 13:26] icanhazstring commented on #108
annotation usage is fixed with #94
Others can be ignored. Closing.

[2022-10-07 13:26] #108 closed

[2022-10-11 08:34] yoanmLf commented on #342
Hello 👋

Indeed, I spent half a day trying to understand why 0.7 version was working fine while latest wasn't.
With latest version (`0.8.3`), every dependencies are marked as unused (except those which are a requirement for dependencies required by my project)

The quickest fix I found is to add `if ('' === $rootNamespace) { continue; }` just before [that](https://github.com/composer-unused/compos

[2022-10-11 08:51] icanhazstring commented on #342
Yes, I am a bit struggling with that. But I think for now your suggestion would be a valid addition.
Maybe even check while loading the composer.json to see if there is an empty namespace defined and emit a warning from `composer-unused` itself with a link to composer docs.

Because right now it's really an edge case.
Would accept any PR in that direction and happily merge it :)

Thanks for the ap

[2022-10-12 07:56] #342 closed

[2022-10-12 12:36] lptn commented on #399
thanks, agree, it's annoying to see ignored dependencies on github actions output and as GitHub code annotations:

<img width="823" alt="image" src="https://user-images.githubusercontent.com/5278175/195343906-3b5f9aca-d7ff-4fa9-a1f8-714b9e46366f.png">

<img width="525" alt="image" src="https://user-images.githubusercontent.com/5278175/195344066-5015bbae-124f-4f5f-9ef7-6bff89e8eca1.png">

[2022-10-12 15:56] ayushthe1 commented on #399
Hey @icanhazstring ,i made another PR for this issue with unit tests . Could you please review it.
Sorry for submitting it late.

[2022-11-01 18:37] mvhirsch opened #418 "`--excludeDir` is ignored"
## Describe the bug
I try to scan a very large project, with even larger files in it. It takes a long time, without doing anything. Is there a `--debug` option to see, which files are scanned right now? `-vvv` won't do anything, too.

After looking at the command I noticed `--excludeDir`, but I can't find any code handling it.

[2022-11-01 18:42] icanhazstring commented on #418
Hm. That seems like a bug if that is not working anymore. Maybe I even missed it from 0.7 to 0.8 😱

[2022-11-02 13:35] ssanko opened #420 "Wrong version in command"
There is a wrong version number in command

https://github.com/composer-unused/composer-unused/blob/af9085d2058333d26559b334c536c40fb04e28d3/src/Console/Command/UnusedCommand.php#L33

[2022-11-02 13:37] icanhazstring commented on #420
True, thanks. If you want you can just increase it to the next one (0.8.5) with a PR . I am happy to merge it 🙂

Otherwise I will do it if I find the time.

[2022-11-04 09:48] SamMousa opened #422 "Missing directories cause crash"
## Describe the bug
When a PSR-4 prefix is registered in `composer.json` but the directory it points to does not exist `composer-unused` crashes.
Composer itself doesn't mind.

## Additional information
`Finder.php` line 532.

[2022-11-05 23:25] icanhazstring commented on #422
Thanks for reporting. Will take a look ASAP

[2022-11-14 14:50] lookyman commented on #394
I feel like `setAdditionalFilesFor` is not enough for Symfony, because of the per-dependency configuration. If you want to add `config/budles.php`, you have to exclude every single foreign referenced bundle.

[2022-11-14 15:51] icanhazstring commented on #394
No. config/bundles.php is part of your application. So you want composer-unused to scan this file as part of your application.

Your application also counts as a package, the root package.

[2022-11-14 16:05] lookyman commented on #394
Which is exactly my use case. I have a bunch of packages that add stuff that is actually used, and another bunch that provide integration to Symfony via bundles. The only place those are referenced is in config/bundles.php. So I am stuck with adding configuration for each of them?

Btw sorry about spamming maybe unrelated issue here..

[2022-11-14 16:59] icanhazstring commented on #394
If the bundle is referenced using the FQN in config/bundles.php you just add this file as an additional file with your application name (composer.json->name) as explained in the initial message.

This way composer-unused will scan this file, see the used symbols and will mark the package as used.

[2022-11-14 17:02] lookyman commented on #394
Oh NOW I get it, thanks!

[2022-11-27 14:50] MarcinGladkowski commented on #395
Hi!

I want to say I really like this package source code, style of coding. The implementation is very interesting.  It's my first time with tool based on parsing source code/AST , that's why I'm very into resolving issues/bugs etc. Thanks and Good job!

[2022-11-27 17:34] icanhazstring commented on #395
Hi @MarcinGladkowski.

Welcome 🎉
Thank you for your contribution. Glad you like this tool and are willing to contribute. I really do appreciate it. 🙏

[2022-11-27 17:44] MarcinGladkowski commented on #395
Thanks @icanhazstring . If you mark issues with proper labels, I will do it pleasantly.

[2022-11-27 17:54] MarcinGladkowski commented on #271
@icanhazstring I reviewed commit about clean up code when the event dispatcher was removed. Can I use https://github.com/symfony/event-dispatcher for this ?

What about displaying progress bar ? Previously the `IO` was injected directly to the parser classe. Does the implementation of progress bar should working on event-listener feature ?

[2022-11-27 20:48] #395 closed

[2022-11-27 20:48] icanhazstring commented on #271
There is an open issue about bringing back the progress bar. Maybe something good to start 😉

[2022-11-28 08:30] MarcinGladkowski commented on #271
Ok, but I'm pointing to `AC`

[2022-11-28 08:32] MarcinGladkowski commented on #271
In #270 you wrote that the progess bar will be reimplemented in this task. Looks like circular reference ;)

[2022-11-28 12:06] icanhazstring commented on #271
We probably should do dumping here and progress bar on the other 😉

[2022-11-30 13:39] MarcinGladkowski commented on #320
@icanhazstring #320 Review, plesase.

[2022-11-30 14:27] MarcinGladkowski commented on #320
Hi! @icanhazstring Review, please https://github.com/composer-unused/composer-unused/pull/427